@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

nav {
  display: flex;
  margin: 0 auto;
  width: 90%;
  justify-content: space-between;
  margin-top: 30px;
}
nav .nav-left img {
  width: 6rem;
}
nav .nav-right button {
  cursor: pointer;
  border: 0;
  background-color: brown;
  color: white;
  width: 65px;
  height: 30px;
  border-radius: 10px;
  font-weight: 500;
}
nav .nav-right ul {
  display: flex;
  justify-items: baseline;
}
nav .nav-right ul li {
  margin-left: 20px;
}
nav .nav-right ul li p {
  margin-top: 8px;
  color: rgb(6, 34, 87);
}
nav .nav-right ul li a {
  text-decoration: none;
  color: rgb(6, 34, 87);
}
nav .nav-right ul li a:hover {
  color: rgb(248, 165, 20);
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
nav .left img {
  width: 9rem;
}
nav button {
  cursor: pointer;
  border: 0;
  background-color: brown;
  color: white;
  width: 65px;
  height: 30px;
  border-radius: 10px;
  font-weight: 500;
}

main {
  margin-top: 100px;
}
main .admin_block {
  display: flex;
  justify-content: space-evenly;
}
main .admin_block .control_ h3 {
  font-size: 1.2rem;
  display: block;
  margin-bottom: 10px;
  text-align: center;
}
main .admin_block .control_ .control_list {
  border: 1px solid silver;
  width: 10vw;
  height: 500px;
  border-radius: 20px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 200;
}
main .admin_block .control_ .control_list a {
  display: block;
  margin-top: 20px;
  text-decoration: none;
  color: rgb(10, 30, 208);
  font-weight: 300;
}
main .admin_block .control_ .control_list a:hover {
  color: orange;
}
main .admin_block .Show_ {
  width: 66vw;
  border: 1px solid silver;
  border-radius: 20px;
}
main .admin_block .Show_ .Show_form {
  margin: 60px 100px;
  overflow: auto;
}
main .admin_block .Show_ .Show_form a {
  float: right;
  display: block;
  text-decoration: none;
  color: rgb(10, 30, 208);
  font-weight: 300;
  border: 1px solid rgb(10, 30, 208);
  border-radius: 10px;
  width: 150px;
  text-align: center;
  margin: 20px;
  padding: 5px;
}
main .admin_block .Show_ .Show_form a:hover {
  color: whitesmoke;
  background-color: orange;
  border: 1px solid orange;
}
main .admin_block .Show_ .Show_form table {
  font-size: 14px;
  border-collapse: collapse;
  width: 100%;
}
main .admin_block .Show_ .Show_form th, main .admin_block .Show_ .Show_form td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}
main .admin_block .Show_ .Show_form th {
  background-color: #f2f2f2;
}
main .admin_block .Show_ .Show_form tbody tr:hover {
  background-color: #f5f5f5;
}
main .admin_block .Show_.select_ .Show_form ul {
  margin-left: 0;
}
main .admin_block .Show_.select_ .Show_form ul li {
  width: 7vw;
  font-size: 0.5rem;
}
main .admin_block .Show_.select_ .Show_form ul .message_ p {
  margin-top: 20px;
  margin-bottom: 28px;
}

.Show_.edit .Show_form .nav {
  margin-bottom: 50px;
}
.Show_.edit .Show_form .nav h3 {
  font-size: 1.5rem;
  color: #555;
}
.Show_.edit .Show_form .question_edit .text-right {
  text-align: right;
}
.Show_.edit .Show_form .question_edit button {
  width: 5vw;
  border: 1px solid rgb(110, 134, 201);
  color: rgb(110, 134, 201);
  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
}
.Show_.edit .Show_form .question_edit button:hover {
  background-color: rgb(225, 173, 68);
  border: 1px solid rgb(225, 173, 68);
  color: white;
}
.Show_.edit .Show_form .question_edit .nav {
  display: flex;
  justify-content: space-between;
}
.Show_.edit .Show_form .question_edit .text ul {
  margin-left: 0;
  font-size: small;
}
.Show_.edit .Show_form .question_edit .ans {
  margin-left: 120px;
  /* 隱藏原本的下拉箭頭 */
  /* 自訂下拉箭頭 */
  /* 自訂下拉選單樣式 */
}
.Show_.edit .Show_form .question_edit .ans .form-group {
  margin: 20px;
}
.Show_.edit .Show_form .question_edit .ans .form-group label {
  color: #555;
  letter-spacing: 1.2;
}
.Show_.edit .Show_form .question_edit .ans .form-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-size: 16px;
}
.Show_.edit .Show_form .question_edit .ans .form-group textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-size: 16px;
}
.Show_.edit .Show_form .question_edit .ans select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* 選擇框寬度 */
  width: 50px;
  /* 選擇框高度 */
  height: 20px;
  /* 自訂選擇框背景 */
  background-color: #fff;
  /* 自訂邊框 */
  border: 1px solid #ccc;
  /* 自訂邊框圓角 */
  border-radius: 4px;
  /* 自訂字型 */
  font-family: inherit;
  /* 自訂字體大小 */
  font-size: 0.8rem;
  /* 自訂文字位置 */
  -moz-text-align-last: center;
       text-align-last: center;
  text-align: center;
}
.Show_.edit .Show_form .question_edit .ans select::after {
  content: "▼";
  position: absolute;
  top: 15px;
  right: 10px;
  font-size: 25px;
  color: #555;
  pointer-events: none;
}
.Show_.edit .Show_form .question_edit .ans select option {
  /* 自訂背景顏色 */
  background-color: #fff;
  /* 自訂字體大小 */
  font-size: 16px;
  /* 自訂文字位置 */
  text-align: center;
}
