@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

nav {
  display: flex;
  margin: 0 auto;
  width: 90%;
  justify-content: space-between;
  margin-top: 30px;
}
nav .nav-left img {
  width: 8rem;
}
nav .nav-right button {
  cursor: pointer;
  border: 0;
  background-color: brown;
  color: white;
  width: 65px;
  height: 30px;
  border-radius: 10px;
  font-weight: 500;
}
nav .nav-right ul {
  display: flex;
  justify-items: baseline;
  margin-top: 30px;
}
nav .nav-right ul li {
  margin-left: 20px;
}
nav .nav-right ul li p {
  margin-top: 8px;
  color: rgb(6, 34, 87);
}
nav .nav-right ul li a {
  text-decoration: none;
  color: rgb(6, 34, 87);
}
nav .nav-right ul li a:hover {
  color: rgb(248, 165, 20);
}
nav .nav-right ul li img {
  width: 2rem;
  cursor: pointer;
}
nav .nav-right #hamburger-menu {
  opacity: 0;
  flex-direction: column;
  border: 1px solid gray;
  border-radius: 10px;
  z-index: 1;
  right: 146;
  margin-top: 10px;
  width: 120px;
  padding: 10px;
}
nav .nav-right #hamburger-menu li {
  margin: 10px auto;
}
nav .nav-right #hamburger-menu li a {
  color: rgb(69, 112, 195);
  letter-spacing: 1.2;
}
nav .nav-right #hamburger-menu li a:hover {
  color: orange;
}
nav .nav-right #hamburger-menu .menu-line {
  border-bottom: 1px solid darkblue;
  width: 50px;
  margin: 0 auto;
}
nav .nav-right #hamburger-menu.show {
  opacity: 1; /* 透明度為 1 時顯示 */
}

footer {
  margin-top: 50px;
  border-top: 1px solid slategrey;
}
footer .social_block {
  text-align: center;
  margin-top: 30px;
}
footer .social_block ul {
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  width: 50vw;
  margin-bottom: 50px;
}
footer .social_block ul li {
  margin: 10px;
}
footer .social_block p {
  margin-bottom: 30px;
}

::-webkit-scrollbar {
  display: none;
}

.search {
  text-align: center;
  margin: 30px;
  /* 隱藏原本的下拉箭頭 */
  /* 自訂下拉箭頭 */
  /* 自訂下拉選單樣式 */
}
.search .alert-danger {
  margin: 10px auto;
}
.search .alert-danger p {
  color: #706e6e;
  letter-spacing: 1px;
}
.search input {
  width: 20vw;
  height: 35px;
  padding: 5px 15px;
  border: 1px #ccc solid;
  cursor: pointer;
  border-radius: 5px;
  color: #555;
  font-size: 1rem;
  letter-spacing: 1.2px;
}
.search button {
  text-decoration: none;
  cursor: pointer;
  border: 0;
  background-color: rgb(118, 114, 109);
  color: white;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  font-weight: 400;
  letter-spacing: 1.5px;
}
.search button:hover {
  background-color: orange;
}
.search .form-group {
  margin: 20px;
}
.search .form-group label {
  color: #555;
  letter-spacing: 1.2;
}
.search .form-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-size: 16px;
}
.search .form-group textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-size: 16px;
}
.search select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* 選擇框寬度 */
  width: 20vw;
  /* 選擇框高度 */
  height: 30px;
  /* 自訂選擇框背景 */
  background-color: #fff;
  /* 自訂邊框 */
  border: 1px solid #ccc;
  /* 自訂邊框圓角 */
  border-radius: 4px;
  /* 自訂字型 */
  font-family: inherit;
  /* 自訂字體大小 */
  font-size: 1rem;
  /* 自訂文字位置 */
  -moz-text-align-last: center;
       text-align-last: center;
  text-align: center;
}
.search select::after {
  content: "▼";
  position: absolute;
  top: 15px;
  right: 10px;
  font-size: 25px;
  color: #555;
  pointer-events: none;
}
.search select option {
  /* 自訂背景顏色 */
  background-color: #fff;
  /* 自訂字體大小 */
  font-size: 16px;
  /* 自訂文字位置 */
  text-align: center;
}

main {
  margin-top: 50px;
  display: block;
  min-height: 600px;
}
main .forbidUl {
  margin-top: 100px;
}
main .forbidUl li {
  margin: 30px;
}
main .forbidUl li .forbid-icon {
  width: 20vw;
}
main .forbidUl li p {
  letter-spacing: 1.2;
  color: red;
}
main .forbidUl li .forbid-link {
  width: 15vw;
  letter-spacing: 1.2;
  text-decoration: none;
  color: white;
  border-radius: 10px;
  padding: 10px;
  background-color: black;
}
main .forbidUl li .forbid-link:hover {
  background-color: #706e6e;
}
main .null-icon {
  width: 15vw;
  margin-top: 150px;
}
main .null-link {
  text-decoration: none;
  padding: 10px;
  color: white;
  background-color: rgb(15, 59, 101);
}
main .null-link:hover {
  background-color: #555;
}
main h1 {
  font-size: 2.5rem;
  text-align: center;
}
main .img-block ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 85vw;
  margin: 0 auto;
}
main .img-block ul li img {
  width: 20vw;
  min-width: 300px;
  margin-top: 15px;
  margin-bottom: 20px;
}
main .img-block ul li img:hover {
  cursor: pointer;
}
main .img-block ul li ol {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
main .img-block ul li ol li p {
  margin: 15px;
  font-size: 1.2rem;
  font-family: "Noto Sans TC", sans-serif !important;
}
main .img-block ul li ol li img {
  width: 1.2rem;
  margin: 0;
}
main .chooseItem {
  width: 90vw;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
}
main .chooseItem ul {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
main .chooseItem ul li {
  margin: 20px;
}
main .chooseItem ul li img {
  width: 25vw;
  max-width: 500px;
  min-width: 300px;
  cursor: pointer;
}
main .chooseItem ul li p {
  margin: 15px;
  font-size: 1.2rem;
  letter-spacing: 1.2px;
}
@media (max-width: 615px) {
  main .chooseItem ul {
    width: 50px;
  }
}

.faq-search-show {
  min-height: 30vw;
}
.faq-search-show h1 {
  text-align: center;
  font-size: 2vw;
  border-bottom: 1px solid silver;
  width: 10vw;
  margin: 50px auto;
  padding: 10px;
}
.faq-search-show p {
  color: #706e6e;
  text-align: center;
  font-size: large;
}
.faq-search-show table {
  font-size: 1rem;
  border-collapse: collapse;
  width: 90vw;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: 10px;
  line-height: 1.5;
  font-family: "Courier New", Courier, monospace;
  font-weight: 450;
}
.faq-search-show th, .faq-search-show td {
  text-align: left;
  padding: 10px;
  border: 1px solid #ddd;
  width: 10vw;
  letter-spacing: 1px;
}
.faq-search-show th p, .faq-search-show td p {
  width: 8vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.faq-search-show th {
  background-color: #f2f2f2;
}
.faq-search-show tbody tr:hover {
  background-color: #f5f5f5;
}

.QA_content {
  margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
}
.QA_content .popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  width: 50vw;
  min-width: 400px;
  border: 1px solid #ccc;
  border-radius: 20px;
  text-align: center;
  -webkit-backdrop-filter: none;
          backdrop-filter: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
.QA_content .popup .popup-content {
  text-align: start;
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 300;
  color: #555;
}
.QA_content .popup .popup-content .pre-wrap {
  white-space: pre-wrap;
  word-wrap: break-word;
  max-width: 100%; /* 根據需要調整最大寬度 */
}
.QA_content .questionPostpop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}
.QA_content .questionPostpop form label {
  color: white;
  letter-spacing: 1.2px;
  font-size: 1.2rem;
}
.QA_content .questionPostpop form input {
  letter-spacing: 1.2px;
}
.QA_content .questionPostpop form .attachfile {
  color: white;
}
.QA_content .questionPostpop .closePostBtn {
  position: relative;
  bottom: 175px;
  left: 545px;
  background-color: #fff;
  padding: 5px 10px;
  cursor: pointer;
  color: #555;
  width: 80px;
  font-weight: 400;
  letter-spacing: 1.5px;
}
.QA_content .questionPostpop .closePostBtn:hover {
  color: white;
}
.QA_content .left-content img {
  width: 30rem;
  border-radius: 999em;
}
.QA_content .left-content h2 {
  font-weight: 200;
  font-size: 1.5rem;
  text-align: center;
}
.QA_content .left-content h3 {
  font-weight: 200;
  margin-top: 20px;
  text-align: center;
}
.QA_content .right-content {
  margin-right: 50px;
}
.QA_content .right-content .message_border {
  width: 50vw;
  height: 500px;
  overflow: scroll;
}
.QA_content .right-content .message_border p {
  color: #555;
  letter-spacing: 1.2;
}
.QA_content .right-content .message_border .message {
  border-bottom: 1px silver solid;
  padding-bottom: 10px;
}
.QA_content .right-content .message_border .message .reply-button {
  float: right;
  margin-left: 150px;
  background-color: rgb(15, 59, 101);
  bottom: 10px;
}
.QA_content .right-content .message_border .message .reply-button:hover {
  background-color: rgb(138, 166, 166);
}
.QA_content .right-content .baseline {
  width: 20vw;
  border: 1px double silver;
}
.QA_content .right-content button {
  text-decoration: none;
  float: right;
  cursor: pointer;
  border: 0;
  background-color: rgb(118, 114, 109);
  color: white;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  font-weight: 300;
  letter-spacing: 1.5px;
  font-size: 0.9rem;
}
.QA_content .right-content button a {
  text-decoration: none;
  color: white;
  font-weight: 300;
}
.QA_content .right-content button:hover {
  background-color: rgb(236, 133, 8);
}
.QA_content .right-content .faq {
  min-width: 500px;
  height: 100%;
  overflow: auto;
}
.QA_content .right-content .faq .listblock {
  margin-top: 50px;
}
.QA_content .right-content .faq .listblock .topline {
  width: 1000px;
  margin-bottom: 20px;
}
.QA_content .right-content .faq .listblock table {
  font-size: 1rem;
  border-collapse: collapse;
  width: 100%;
  letter-spacing: 1.5px;
}
.QA_content .right-content .faq .listblock th, .QA_content .right-content .faq .listblock td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
  width: 10vw;
}
.QA_content .right-content .faq .listblock th p, .QA_content .right-content .faq .listblock td p {
  font-size: 2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.QA_content .right-content .faq .listblock th {
  background-color: #f2f2f2;
}
.QA_content .right-content .faq .listblock ul li {
  margin-bottom: 30px;
  letter-spacing: 2;
  line-height: 1.4;
  width: 80vw;
}
.QA_content .right-content .faq .listblock ul li h5 {
  color: #555;
  border-bottom: 1px solid silver;
}
.QA_content .right-content .faq .listblock ul li .faq-title {
  color: rgb(15, 59, 101);
  display: flex;
  align-items: center;
  border-bottom: 1px dashed gray;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: 400;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.QA_content .right-content .faq .listblock ul li .faq-title h3 {
  color: rgb(233, 168, 74);
  font-size: 2.3rem;
  font-style: italic;
}
.QA_content .right-content .faq .listblock ul li .faq-title label {
  border: 1px solid rgb(233, 168, 74);
  border-radius: 999em;
  width: 26px;
  height: 26px;
  text-align: center;
  background: rgb(233, 168, 74);
  color: white;
  font-size: 18px;
  font-family: sans-serif;
  margin-right: 20px;
}
.QA_content .right-content .faq .listblock ul li .faq-title p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.QA_content .right-content .faq .listblock ul li .faq-title button {
  margin-left: auto;
  background-color: rgb(15, 59, 101);
}
.QA_content .right-content .faq .listblock ul li .faq-title button:hover {
  background-color: rgb(237, 188, 14);
}
.QA_content .right-content .faq .listblock ul li .faq-title .itemBlock {
  margin-left: 1190px;
}
.QA_content .right-content .faq .listblock ul li .faq-title .itemBlock img {
  width: 2vw;
}
.QA_content .right-content .faq .listblock ul li .faq-content {
  display: none;
  background-color: #8a8a8a;
  color: white;
  padding: 10px;
  padding-left: 20px;
}
.QA_content .right-content .faq .listblock ul li .faq-content .photoPopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}
.QA_content .right-content .faq .listblock ul li .faq-content .videoPopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}
.QA_content .right-content .faq .listblock ul li .faq-content .videoPopup video {
  max-width: 90%;
  max-height: 90%;
}
.QA_content .right-content .faq .listblock ul li .faq-content .popclose {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  cursor: pointer;
}
.QA_content .right-content .faq .listblock ul li .faq-toggle {
  width: 60px;
  font-size: 1.2rem;
}
.QA_content .right-content .faq h2 {
  position: relative;
  top: 50%;
  left: 20%;
  color: gray;
  font-style: italic;
}
.QA_content .right-content h3 {
  color: rgb(15, 59, 101);
  text-align: end;
  margin-top: 5px;
}
.QA_content .right-content p {
  margin: 10px;
  color: rgb(15, 59, 101);
}
.QA_content .right-content textarea {
  font-size: 15px;
  width: 550px;
  height: 100px;
  border: 1px #ccc solid;
  padding: 10px;
}
.QA_content .right-content input {
  padding: 5px 15px;
  border: 1px #ccc solid;
  cursor: pointer;
  border-radius: 5px;
}
.QA_content .right-content .submit {
  float: right;
  background-color: rgb(15, 59, 101);
  color: aliceblue;
}
.QA_content .right-content .submit:hover {
  background-color: rgb(138, 166, 166);
  color: aliceblue;
}

@media (max-width: 902px) {
  .QA_content {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
  }
}
