/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: rgb(110, 134, 201);
}
body .topText {
  text-align: center;
  color: whitesmoke;
  margin-top: 100px;
  font-size: 2rem;
}
body .topText img {
  width: 12rem;
}
body main .log {
  color: cornsilk;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 45vw;
  height: 500px;
  border: 2px solid cornsilk;
  border-radius: 10px;
  margin: 50px auto;
  background-color: rgb(110, 134, 201);
}
body main .log .left {
  height: 394px;
  width: 300px;
  padding-left: 10px;
  padding-top: 10px;
}
body main .log .left h1 {
  font-size: 24px;
  margin-bottom: 10px;
}
body main .log .left .txt {
  display: flex;
}
body main .log .left .txt a {
  margin-left: 10px;
  text-decoration: none;
  color: #273252;
}
body main .log .left .txt a:hover {
  color: cornsilk;
}
body main .log .left .input {
  margin-top: 30px;
  margin-bottom: 15px;
}
body main .log .left .input input {
  border: 0;
  border-radius: 10px;
  margin-top: 15px;
  width: 13vw;
  height: 30px;
  padding-left: 15px;
  color: #273252;
}
body main .log .left .check {
  text-align: right;
  margin-right: 50px;
}
body main .log .left .check input {
  margin-top: 15px;
  margin-bottom: 15px;
}
body main .log .left .check a {
  text-decoration: none;
  color: cornsilk;
  font-size: 0.8rem;
}
body main .log .left .check a:hover {
  color: #273252;
}
body main .log .left button {
  margin-top: 20px;
  width: 250px;
  height: 45px;
  font-size: 1rem;
  border-radius: 2px;
  color: cornsilk;
  background-color: rgb(17, 36, 91);
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
body main .log .left button a {
  text-decoration: none;
  color: aliceblue;
  letter-spacing: 1px;
  font-size: 1.2rem;
}
body main .log .left .baseline {
  margin-top: 20px;
  width: 270px;
  border: 1px cornsilk solid;
}
body main .log .left .admin-text {
  color: rgb(17, 36, 91);
  margin-top: 30px;
}
body main .log .left .admin-text a {
  text-decoration: none;
  color: cornsilk;
}
body main .log .left .admin-text a:hover {
  color: rgb(17, 36, 91);
}

.admin {
  background-color: #273252;
}
.admin main .log {
  background-color: #273252;
  justify-content: center;
}
.admin main .log .right h1 {
  font-size: 24px;
  margin-bottom: 10px;
}
.admin main .log .right .txt {
  display: flex;
}
.admin main .log .right .txt a {
  margin-left: 10px;
  text-decoration: none;
  color: #bbc5e2;
}
.admin main .log .right .txt a:hover {
  color: cornsilk;
}
.admin main .log .right .input {
  margin-top: 30px;
  margin-bottom: 15px;
}
.admin main .log .right .input input {
  border: 0;
  border-radius: 10px;
  margin-top: 15px;
  width: 13vw;
  height: 30px;
  padding-left: 15px;
  color: #273252;
}
.admin main .log .right .check {
  text-align: right;
  margin-right: 20px;
}
.admin main .log .right .check input {
  margin-top: 15px;
  margin-bottom: 15px;
}
.admin main .log .right .check a {
  text-decoration: none;
  color: cornsilk;
  font-size: 0.8rem;
}
.admin main .log .right .check a:hover {
  color: #bbc5e2;
}
.admin main .log .right button {
  margin-top: 20px;
  width: 250px;
  height: 45px;
  font-size: 1rem;
  border-radius: 2px;
  color: cornsilk;
  background-color: rgb(17, 36, 91);
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
.admin main .log .right button a {
  text-decoration: none;
  color: aliceblue;
  letter-spacing: 1px;
  font-size: 1.2rem;
}
