/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.UserLogin {
  background-color: rgb(110, 134, 201);
  min-width: 311px;
}
.UserLogin main .topText {
  text-align: center;
  color: whitesmoke;
  margin-top: 100px;
  font-size: 2rem;
}
.UserLogin main .topText img {
  width: 12rem;
}
.UserLogin main .log.forgot p {
  margin-top: 15px;
  line-height: 1.2;
}
.UserLogin main .log {
  color: cornsilk;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 45vw;
  min-width: 660px;
  height: 500px;
  border: 2px solid cornsilk;
  border-radius: 10px;
  margin: 50px auto;
  background-color: rgb(110, 134, 201);
}
.UserLogin main .log .left {
  height: 394px;
  width: 300px;
  padding-left: 10px;
  padding-top: 10px;
}
.UserLogin main .log .left p {
  letter-spacing: 1.5;
}
.UserLogin main .log .left h1 {
  font-size: 24px;
  margin-bottom: 10px;
}
.UserLogin main .log .left .txt {
  display: flex;
}
.UserLogin main .log .left .txt a {
  margin-left: 10px;
  text-decoration: none;
  color: #273252;
}
.UserLogin main .log .left .txt a:hover {
  color: cornsilk;
}
.UserLogin main .log .left .input {
  margin-top: 30px;
  margin-bottom: 15px;
}
.UserLogin main .log .left .input input {
  border: 0;
  border-radius: 10px;
  margin-top: 15px;
  width: 13vw;
  min-width: 250px;
  height: 30px;
  padding-left: 15px;
  color: #273252;
}
.UserLogin main .log .left .input .text-danger {
  margin-top: 10px;
  color: #820d0d;
}
.UserLogin main .log .left .check {
  text-align: right;
  margin-right: 50px;
}
.UserLogin main .log .left .check input {
  margin-top: 15px;
  margin-bottom: 15px;
}
.UserLogin main .log .left .check a {
  text-decoration: none;
  color: cornsilk;
  font-size: 0.8rem;
}
.UserLogin main .log .left .check a:hover {
  color: #273252;
}
.UserLogin main .log .left .alert.alert-info {
  margin-top: 10px;
  text-align: center;
  line-height: 2;
  background-color: rgb(197, 24, 80);
  border-radius: 10px;
}
.UserLogin main .log .left button {
  margin-top: 20px;
  width: 250px;
  height: 45px;
  font-size: 1rem;
  border-radius: 2px;
  color: cornsilk;
  background-color: rgb(17, 36, 91);
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
.UserLogin main .log .left button a {
  text-decoration: none;
  color: aliceblue;
  letter-spacing: 1px;
  font-size: 1.2rem;
}
.UserLogin main .log .left .baseline {
  margin-top: 20px;
  width: 270px;
  border: 1px cornsilk solid;
}
.UserLogin main .log .left .admin-text {
  color: rgb(17, 36, 91);
  margin-top: 30px;
}
.UserLogin main .log .left .admin-text a {
  text-decoration: none;
  color: cornsilk;
}
.UserLogin main .log .left .admin-text a:hover {
  color: rgb(17, 36, 91);
}
.UserLogin main .log .right img {
  width: 12vw;
}
@media screen and (max-width: 1280px) {
  .UserLogin main .log .right img {
    width: 10vw;
    margin-right: 50px;
    min-width: 150px;
  }
}
@media (max-width: 699px) {
  .UserLogin main .log {
    display: block;
    margin: 0 auto;
    width: 100%;
    border: 0;
    min-width: auto;
  }
  .UserLogin main .left {
    margin: 0 auto;
  }
  .UserLogin main .left h1 {
    display: block;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .UserLogin main .left .txt {
    justify-content: center;
    padding: 10px;
  }
  .UserLogin main .left p {
    font-size: 1.3rem;
  }
  .UserLogin main .left a {
    font-size: 1.3rem;
  }
  .UserLogin main .left form {
    margin: 0 auto;
  }
  .UserLogin main .left form .formgroup {
    text-align: center;
  }
  .UserLogin main .left .input input {
    font-size: 1rem;
  }
  .UserLogin main .left button {
    margin: 30px;
  }
  .UserLogin main .right {
    display: none;
  }
}

.admin {
  background-color: #273252;
  min-width: 311px;
}
.admin main .topText {
  text-align: center;
  color: whitesmoke;
  margin-top: 100px;
  font-size: 2rem;
}
.admin main .topText img {
  width: 12rem;
}
.admin main .log.forgot p {
  margin-top: 15px;
  line-height: 1.2;
}
.admin main .log {
  color: cornsilk;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 45vw;
  min-width: 660px;
  height: 500px;
  border: 2px solid cornsilk;
  border-radius: 10px;
  margin: 50px auto;
  background-color: #273252;
}
.admin main .log .right {
  height: 394px;
  width: 300px;
  margin-top: 100px;
}
.admin main .log .right h1 {
  font-size: 24px;
  margin-bottom: 10px;
}
.admin main .log .right .txt {
  display: flex;
}
.admin main .log .right .txt a {
  margin-left: 10px;
  text-decoration: none;
  color: #bbc5e2;
}
.admin main .log .right .txt a:hover {
  color: cornsilk;
}
.admin main .log .right .input {
  margin-top: 30px;
  margin-bottom: 15px;
}
.admin main .log .right .input input {
  border: 0;
  border-radius: 10px;
  margin-top: 15px;
  width: 13vw;
  min-width: 250px;
  height: 30px;
  padding-left: 15px;
  color: #273252;
}
.admin main .log .right .input .text-danger {
  margin-top: 30px;
  color: #820d0d;
}
.admin main .log .right .check {
  text-align: right;
  margin-right: 30px;
}
.admin main .log .right .check input {
  margin-top: 15px;
  margin-bottom: 15px;
}
.admin main .log .right .check a {
  text-decoration: none;
  color: cornsilk;
  font-size: 0.8rem;
}
.admin main .log .right .check a:hover {
  color: #bbc5e2;
}
.admin main .log .right button {
  margin-top: 20px;
  width: 250px;
  height: 45px;
  font-size: 1rem;
  border-radius: 2px;
  color: cornsilk;
  background-color: rgb(32, 40, 207);
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
.admin main .log .right button a {
  text-decoration: none;
  color: aliceblue;
  letter-spacing: 1px;
  font-size: 1.2rem;
}
.admin main .log .right button:hover {
  background-color: #bbc5e2;
  color: #273252;
}
@media (max-width: 699px) {
  .admin main .log {
    display: block;
    margin: 0 auto;
    width: 100%;
    border: 0;
    min-width: auto;
  }
  .admin main .left {
    display: none;
  }
  .admin main .right {
    margin: 0 auto;
  }
  .admin main .right h1 {
    display: block;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .admin main .right .txt {
    justify-content: center;
    padding: 10px;
  }
  .admin main .right p {
    font-size: 1.3rem;
  }
  .admin main .right a {
    font-size: 1.3rem;
  }
  .admin main .right form {
    margin: 0 auto;
  }
  .admin main .right form .formgroup {
    text-align: center;
    margin-bottom: 15px;
  }
  .admin main .right .input {
    text-align: center;
  }
  .admin main .right .input input {
    font-size: 1rem;
  }
  .admin main .right button {
    margin: 30px;
  }
}
