nav {
    display: flex;
    margin: 0 auto;
    width: 90%;
    justify-content: space-between;

    margin-top: 30px;
    .nav-left{
        img{
            width: 8rem;


        }
    }
    .nav-right {

        button{
            
            cursor: pointer;
            border: 0;
            background-color: brown;
            color: white;
            width: 65px;
            height: 30px;
            border-radius: 10px;
            font-weight: 500;

        }
        ul {
            display: flex;
            justify-items: baseline;
            margin-top: 30px;
            li {
                margin-left: 20px;
                
               p{
                margin-top: 8px;
                color: rgb(6, 34, 87);

               }
                a{
                    text-decoration: none;
                    color: rgb(6, 34, 87);
                    
                }
                a:hover{
                    color: rgb(248, 165, 20);
                }
            }
        }
    }

}