@import './reset';
@import './nav';

nav{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    .left{
        img{
            width: 9rem;
        }
    }
    button{

        cursor: pointer;
        border: 0;
        background-color: brown;
        color: white;
        width: 5vw;
        height: 35px;
        border-radius: 10px;
        font-weight: 500;
        font-size: 1rem;

    }
}

.Show_form{
    margin: 40px 100px;
    overflow: auto;
    h3{
        text-align: center;
        font-size: 1.8rem;
        // margin-bottom: 50px;
    }
    .btn{
        float: right;
        display: block;
        text-decoration: none;
        color: rgb(10, 30, 208);
        font-weight: 300;
        border: 1px solid rgb(10, 30, 208);
        border-radius: 10px;
        width: 150px;
        text-align: center;
        margin: 20px;
        padding: 5px;
        font-size: 1em;
    }
    .btn:hover{
        color: whitesmoke;
        background-color: orange;
        border: 1px solid orange;
    }
    .question-reply{
        color:rgb(10, 30 ,208);
        font-weight: 300;
        text-decoration: none;


    }
    .question-reply:hover{
        color: orange;
        text-shadow: #555 0.1em;

    }

    table {

        font-size: 14px;
        border-collapse: collapse;
        width: 100%;
    }
    th, td {

        text-align: left;
        padding: 8px;
        border-bottom: 1px solid #ddd;
        width: 10vw;
        p{
            width: 8vw;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

        }
        a{
            color: rgb(10, 30, 208);
            font-weight: 300;
            text-decoration: none;
            letter-spacing: .5px;
        }
        a:hover{
            color: orange;
        }
        button{
            color: rgb(10, 30, 208);
            border: none;
            background-color: transparent;
            cursor: pointer;
            font-weight: 300;
            letter-spacing: .5px;
        }
        button:hover{
            color: orange;
        }



    }
    th {
        background-color: #f2f2f2;
    }
    tbody tr:hover {
        background-color: #f5f5f5;
    }

    .photoPopup{
        position: fixed;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .videoPopup{
        position: fixed;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .videoPopup video {
        max-width: 90%;
        max-height: 90%;
    }

    .popclose {
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: #fff;
        padding: 5px 10px;
        cursor: pointer;
    }

    .pagination {
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 0;
        margin-top: 50px;

        li {
          display: inline-block;
          margin: 0 5px;

          a {
            display: block;
            padding: 5px 10px;
            text-decoration: none;
            color: #333;
            background-color: #f5f5f5;
            border: 1px solid #ccc;
            border-radius: 3px;
            transition: background-color 0.3s ease;

            &:hover {
              background-color: #e0e0e0;
            }
          }

          &.active {
            a {
              background-color: #007bff;
              color: #fff;
            }
          }

          &.disabled {
            opacity: 0.5;
            pointer-events: none;
          }
        }
      }


}

main{
    margin-top: 50px;
    .admin_block{
        display: flex;
        justify-content: space-evenly;
        .popup{
            position: fixed;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%);
            background-color: #fff;
            padding: 20px;
            width: 400px;
            border: 1px solid #ccc;
            border-radius: 20px;
            text-align: center;
            backdrop-filter: none;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        }
        .control_{

            h3{
                font-size:1.2rem;
                display: block;
                margin-bottom: 10px;
                text-align: center;
            }
            .control_list{
                border: 1px solid silver;
                width: 10vw;
                min-width: 150px;
                height: 10vw;
                min-height: 600px;

                border-radius: 20px;

                text-align: center;
                font-size: 1.2rem;
                font-weight: 200;

                button{
                    margin-top:20px;
                    font-weight: 300;
                    color: rgb(10, 30, 208);
                    font-size: 1.2rem;
                    border: none;
                    background-color: transparent;
                    cursor: pointer;
                }
                button:hover{
                    color: orange;
                }

                a{
                    display: block;
                    margin-top:20px;
                    text-decoration: none;
                    color: rgb(10, 30, 208);
                    font-weight: 300;

                }
                a:hover{
                    color: orange;
                }

            }

        }

        .Show_{
            width: 80vw;
            border: 1px solid silver;
            border-radius: 20px;

            .Show_form{
                margin: 30px auto;
                overflow: auto;
                font-weight: 300;
                width: 95%;

                select{

                    width: 5vw;
                    min-width: 100px;
                    padding: 5px;
                    border-radius: 5px;
                    font-size: 1em;
                }

                .btn{
                    float: right;
                    display: block;
                    text-decoration: none;
                    color: rgb(10, 30, 208);
                    font-weight: 300;
                    border: 1px solid rgb(10, 30, 208);
                    border-radius: 10px;
                    width: 150px;
                    text-align: center;
                    margin: 20px;
                    padding: 5px;
                }
                .btn:hover{
                    color: whitesmoke;
                    background-color: orange;
                    border: 1px solid orange;
                }
                .question-reply{
                    color:rgb(10, 30 ,208);
                    font-weight: 300;
                    text-decoration: none;


                }
                .question-reply:hover{
                    color: orange;
                    text-shadow: #555 0.1em;

                }

                table {

                    font-size: 1.1em;
                    border-collapse: collapse;
                    width: 100%;
                }
                th, td {

                    text-align: left;
                    padding: 8px;
                    border-bottom: 1px solid #ddd;
                    width: 10vw;
                    p{
                        width: 8vw;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;

                    }
                    a{
                        color: rgb(10, 30, 208);
                        font-weight: 300;
                        text-decoration: none;
                        letter-spacing: .5px;
                    }
                    a:hover{
                        color: orange;
                    }
                    button{
                        color: rgb(10, 30, 208);
                        border: none;
                        background-color: transparent;
                        cursor: pointer;
                        font-weight: 300;
                        letter-spacing: .5px;
                        font-size: 1em;
                    }
                    button:hover{
                        color: orange;
                    }



                }
                th {
                    background-color: #f2f2f2;
                }
                tbody tr:hover {
                    background-color: #f5f5f5;
                }

                .photoPopup{
                    position: fixed;
                    top:0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.8);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .videoPopup{
                    position: fixed;
                    top:0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.8);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .videoPopup video {
                    max-width: 90%;
                    max-height: 90%;
                }

                .popclose {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    background-color: #fff;
                    padding: 5px 10px;
                    cursor: pointer;
                }

                .pagination {
                    display: flex;
                    justify-content: center;
                    list-style: none;
                    padding: 0;
                    margin-top: 50px;

                    li {
                      display: inline-block;
                      margin: 0 5px;

                      a {
                        display: block;
                        padding: 5px 10px;
                        text-decoration: none;
                        color: #333;
                        background-color: #f5f5f5;
                        border: 1px solid #ccc;
                        border-radius: 3px;
                        transition: background-color 0.3s ease;

                        &:hover {
                          background-color: #e0e0e0;
                        }
                      }

                      &.active {
                        a {
                          background-color: #007bff;
                          color: #fff;
                        }
                      }

                      &.disabled {
                        opacity: 0.5;
                        pointer-events: none;
                      }
                    }
                  }

                  .edit-faq{

                    #faqEditbtn{

                        float: right;
                        text-decoration: none;
                        cursor: pointer;
                        border: 0;
                        background-color: rgb(118, 114, 109);
                        color: white;
                        width: 100px;
                        height: 30px;
                        border-radius: 10px;
                        font-weight: 300;
                        letter-spacing: 1.5px;
                        font-size: 0.9rem;

                        margin-top: 15px;
                    }
                    #faqEditbtn:hover{

                        background-color: orange;
                    }

                    .form-group{
                        margin: 20px;

                        label{
                            color: #555;
                            letter-spacing: 1.2;
                        }
                        input{
                            width: 100%;
                            padding: 12px;
                            border: 1px solid #ccc;
                            border-radius: 4px;
                            box-sizing: border-box;
                            margin-top: 6px;
                            margin-bottom: 16px;
                            resize: vertical;
                            font-size: 16px;
                        }
                        textarea {
                            width: 100%;
                            padding: 12px;
                            border: 1px solid #ccc;
                            border-radius: 4px;
                            box-sizing: border-box;
                            margin-top: 6px;
                            margin-bottom: 16px;
                            resize: vertical;
                            font-size: 16px;
                          }

                    }
                  }



            }

        }

        .Show_.select_{
            .Show_form{
                    ul{
                        margin-left: 0;
                        li{
                            width: 7vw;
                            font-size: .5rem;


                        }
                        .message_{
                            p{
                                margin-top: 20px;
                                margin-bottom: 28px;
                            }
                        }
                    }


            }}
            .Show_form.setting-page{

                form{
                    margin-top: 50px;

                    label{
                        font-size: 1.2rem;
                        letter-spacing: 1.2px;
                    }
                    input{
                        font-size: 1.1em;
                        width: 30vw;
                        height: 20px;
                        padding: 10px;
                        margin-left: 30px;
                        border: 1px solid black;
                        border-radius: 10px;


                    }
                    .btn{
                        background-color: transparent;
                    }

                }

            }
    }
}

// adminreply

.Show_.reply{

    .Show_form{
        .nav{
            margin-bottom: 50px;
            h3{
                font-size: 1.5rem;
                color: #555;
            }
        }

        .series_filter{
            label{
                font-size: 1em;
                font-weight: 350;
                color: rgb(118, 114, 109);
            }
            select{
                padding: 5px 15px;
                border: 1px #ccc solid;
                cursor: pointer;
                border-radius: 5px;
                font-size: 1em;
                font-weight: 350;
            }

            .filter-btn{
                float: none;
                text-decoration: none;
                cursor: pointer;
                border: 0;
                background-color: rgb(118, 114, 109);
                color: white;
                width: 100px;
                height: 30px;
                border-radius: 10px;
                font-weight: 300;
                letter-spacing: 1.5px;
                font-size: 0.9rem;
            }

        }

        #permission-btn,#faqEditbtn{

            float: right;
            text-decoration: none;
            cursor: pointer;
            border: 0;
            background-color: rgb(118, 114, 109);
            color: white;
            width: 100px;
            height: 30px;
            border-radius: 10px;
            font-weight: 300;
            letter-spacing: 1.5px;
            font-size: 0.9rem;

            margin-top: 15px;
        }
        #permission-btn:hover{

            background-color: orange;
        }
        // .member-create{

        //     .formgroup{
        //         margin: 20px;

        //         input{
        //             color: #555;
        //             letter-spacing: 1.2;
        //         }
        //         input{
        //             width: 50%;
        //             padding: 12px;
        //             border: 1px solid #ccc;
        //             border-radius: 4px;
        //             box-sizing: border-box;
        //             margin-top: 6px;
        //             margin-bottom: 16px;
        //             resize: vertical;
        //             font-size: 16px;
        //         }

        //         button{

        //             width: 15vw;
        //             border: 1px solid rgb(110, 134, 201);
        //             color: rgb(110, 134, 201);
        //             border-radius: 10px;
        //             background-color: transparent;
        //             cursor: pointer;



        //         }
        //         button:hover{
        //             background-color: orange;
        //             border: 1px solid orange;
        //             color: white;
        //         }


        //     }
        //     .text-right{
        //         text-align: right;
        //     }
        // }

        .question_reply,.member-create{


            .text-right{
                text-align: right;
            }
            button{

                width: 5vw;
                border: 1px solid rgb(110, 134, 201);
                color: rgb(110, 134, 201);
                border-radius: 10px;
                background-color: transparent;
                cursor: pointer;



            }
            button:hover{
                background-color: orange;
                border: 1px solid orange;
                color: white;



            }
            .nav{
                display: flex;
                justify-content: space-between;
            }
            .text{
                ul{
                    margin-left: 0;
                    font-size: small;
                }
            }

            .create-faq{
                ul{
                    display: flex;
                    flex-wrap: wrap;
                    min-width: 300px;
                    width: 100%;
                    li{
                        margin:10px;
                        color: #1e2d64;
                        border-bottom: 1px solid #1e2d64;
                    }
                  }
            }
            .ans,.create-faq,.create-member{
                margin-left: 120px;
                .form-group{
                    // margin: 20px;

                    label{
                        color: #555;
                        letter-spacing: 1.2;
                    }
                    input{
                        width: 65%;
                        padding: 12px;
                        border: 1px solid #ccc;
                        border-radius: 4px;
                        box-sizing: border-box;
                        margin-top: 6px;
                        margin-bottom: 16px;
                        resize: vertical;
                        font-size: 16px;
                    }
                    textarea {
                        width: 100%;
                        padding: 12px;
                        border: 1px solid #ccc;
                        border-radius: 4px;
                        box-sizing: border-box;
                        margin-top: 6px;
                        margin-bottom: 16px;
                        resize: vertical;
                        font-size: 16px;
                      }

                }
                .form-group.select{
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;

                    select{
                        margin-left: 50px;
                        width: 30vw;
                        height: 10px;
                    }
                }


                /* 隱藏原本的下拉箭頭 */
                select {
                         -webkit-appearance: none;
                         -moz-appearance: none;
                         appearance: none;
                         /* 選擇框寬度 */
                         width: 200px;
                         /* 選擇框高度 */
                         height: 30px;
                         /* 自訂選擇框背景 */
                         background-color: #fff;
                         /* 自訂邊框 */
                         border: 1px solid #ccc;
                         /* 自訂邊框圓角 */
                         border-radius: 4px;
                         /* 自訂字型 */
                         font-family: inherit;
                         /* 自訂字體大小 */
                         font-size: 1rem;
                         /* 自訂文字位置 */
                         text-align-last: center;
                         text-align: center;

                         margin-bottom: 10px;
                       }

                        /* 自訂下拉箭頭 */
                        select::after {
                          content: "\25BC";
                          position: absolute;
                          top: 15px;
                          right: 10px;
                          font-size: 25px;
                          color: #555;
                          pointer-events: none;
                        }

                        /* 自訂下拉選單樣式 */
                        select option {
                        /* 自訂背景顏色 */
                        background-color: #fff;
                        /* 自訂字體大小 */
                        font-size: 16px;
                        /* 自訂文字位置 */
                        text-align: center;
                        }

                        select[multiple]{
                            height: auto;
                            min-height: 100px; /* 設定選單的最小高度 */
                            overflow-y: scroll; /* 超過最小高度時，出現垂直滾動條 */
                            width: 20vw;
                            text-align: left;
                        }


            }


            .question-block{
                ul{
                    display: block;
                    margin: 0 auto;
                    width: fit-content;
                    li{
                        margin: 10px;
                        line-height: 1.25;
                        .user-content{
                            color: #555;
                            font-weight: 300;
                            letter-spacing: 1;
                        }


                    }
                }
            }
            .baseline{
                border-bottom: 1px solid #555;
                margin: 8px auto;
            }
        }
    }

    .Show_form.member-permissions{
        .text-block{
            display: flex;
            justify-content: space-between;
            width: 70vw;
            h3{
                color: #555;
                font-size: 1.5rem;
                margin: 20px;

            }
        }

        form{
            margin-top: 30px;


            .checkSelect{

                .selectAll{
                    margin: 10px;
                }
                .baseline{
                    border-bottom: 1px solid #555;
                    margin: 8px auto;
                }

                ul{
                    display: flex;
                    flex-wrap:wrap;

                    li{
                        width: fit-content;
                        margin: 10px;
                    }

                }


            }
            button{
                width: 7vw;
                border: 1px solid rgb(110, 134, 201);
                color: rgb(110, 134, 201);
                border-radius: 10px;
                background-color: transparent;
                cursor: pointer;
                float: right;
                font-size: 1rem;
                letter-spacing: 1px;
                font-weight: 350;
            }
            button:hover{
                background-color: orange;
                border: 1px solid orange;
                color: white;



            }
        }

    }




}

.Maintenance_table{

    width: 500px;
    margin: 0 auto;

    h1{
        text-align: center;
        font-size: 2rem;
        letter-spacing: 1.2px;
        font-weight: 400;
        margin-bottom: 50px;
    }

   .form-group {
       margin-bottom: 20px;

    label {
         display: block;
         font-weight: bold;
         margin-bottom: 15px;

    }

    input[type="text"],
    input[type="date"],
    textarea,
    select {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
  }

  .btn-primary {
    display: block;
    float: right;
    margin: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1rem;
    letter-spacing: 1.2px;

    &:hover {
      background-color: #0056b3;
    }
  }

}

.Maintenance_tableCheck {

    width: 1000px;
    margin-top: 100px;
    // border: 1px solid slategrey;
    padding: 10px;

    ul {
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      margin-bottom: 20px;

      li {
        flex: 1 1 300px;
        display: flex;
        align-items: center;
        background-color: #f2f2f2;
        padding: 10px;

        span {
          margin-left: 10px;
          color: #0056b3;
        }
      }
    }

    h3 {
      font-size: 1.2rem;
      margin-bottom: 20px;
    }

    ul > li {
      margin-bottom: 10px;

      ol {
        padding-left: 20px;

        li {
          margin-bottom: 5px;
          color: #0056b3;

        }
      }
    }
  }



