@import './reset';
@import './nav';
@import './footer';

::-webkit-scrollbar {
    display: none;
}
.search{

    text-align: center;
    margin: 30px;

    .alert-danger{
         margin:10px auto;


          p{
            color: #706e6e;
            letter-spacing: 1px;
          }

    }

    input{
        width: 20vw;
        height: 35px;
        padding: 5px 15px;
        border: 1px #ccc solid;
        cursor: pointer;
        border-radius: 5px;
        color: #555;

        font-size: 1rem;
        letter-spacing: 1.2px;
    }
    button{
        text-decoration: none;
        cursor: pointer;
        border: 0;
        background-color: rgb(118, 114, 109);
        color: white;
        width: 100px;
        height: 30px;
        border-radius: 10px;
        font-weight: 400;
        letter-spacing: 1.5px;
    }
    button:hover{
        background-color: orange;
    }
    .form-group{
        margin: 20px;

        label{
            color: #555;
            letter-spacing: 1.2;
        }
        input{
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-top: 6px;
            margin-bottom: 16px;
            resize: vertical;
            font-size: 16px;
        }
        textarea{
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-top: 6px;
            margin-bottom: 16px;
            resize: vertical;
            font-size: 16px;
          }
    }


    /* 隱藏原本的下拉箭頭 */
    select {
             -webkit-appearance: none;
             -moz-appearance: none;
             appearance: none;
             /* 選擇框寬度 */
             width: 20vw;
             /* 選擇框高度 */
             height: 30px;
             /* 自訂選擇框背景 */
             background-color: #fff;
             /* 自訂邊框 */
             border: 1px solid #ccc;
             /* 自訂邊框圓角 */
             border-radius: 4px;
             /* 自訂字型 */
             font-family: inherit;
             /* 自訂字體大小 */
             font-size: 1rem;
             /* 自訂文字位置 */
             text-align-last: center;
             text-align: center;
           }

            /* 自訂下拉箭頭 */
            select::after {
              content: "\25BC";
              position: absolute;
              top: 15px;
              right: 10px;
              font-size: 25px;
              color: #555;
              pointer-events: none;
            }

            /* 自訂下拉選單樣式 */
            select option {
            /* 自訂背景顏色 */
            background-color: #fff;
            /* 自訂字體大小 */
            font-size: 16px;
            /* 自訂文字位置 */
            text-align: center;
            }

}




main {
    margin-top: 50px;
    display: block;
    min-height: 600px;
    #openFormBtn{
        margin: 10px auto;
        border: 1px solid blue;
        width: 10vw;
        border-radius: 10px;
        background: transparent;
        color: blue;
        font-size: 1rem;
        float: right;
        font-weight: 300;
    }
    .Show_form{
        margin: 60px 100px;
        overflow: auto;

    //新增機器聯絡人彈窗設計
        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.4);

            .modal-content {
                background-color: #fefefe;
                margin: 15% auto;
                padding: 20px;
                border: 1px solid #888;
                border-radius: 10px;
                width: 80%;

                .formgroup{
                    margin: 50px auto;
                    display: flex;
                    align-items: center;
                    font-size: 1.2rem;

                    .text-danger{
                        margin-left: 30px;
                        color: #ca2929;
                        font-size: .9rem;
                    }

                    label{
                        display: block;
                        width: max-content;
                        min-width: 8vw;

                        margin-right: 10px;

                    }

                    span{
                        display: block;
                        width: fit-content;
                        margin-right: 20px;
                    }

                    input {

                       text-align: center;
                        width: 13vw;
                        height: 30px;
                        min-width: 150px;
                        // margin-bottom: 15px;





                    }
                    #company_name{
                        width: 30vw;
                    }
                    #street{
                        width: 20vw;
                        padding-left: 15px;
                        text-align: start;
                    }
                    #company_website{
                        width: 15vw;
                    }
                    @media (max-width:1200px){
                        input {
                            width: 20vw;

                        }
                        #company_website{
                            width: 20vw;
                        }
                        #street{
                            width: 35vw;
                        }


                    }

                    select{
                        width: 200px;
                        height: 30px;
                        padding-left: 10px;
                        font-size: 1.1rem;
                    }

                    ul{
                        flex-wrap: wrap;
                        width: 50vw;
                        li{
                            margin: 10px;
                            display: flex;
                            span{
                                display: block;
                                width: 100px;
                            }
                            input{
                                margin-left: 10px;
                            }
                            p{
                                line-height: 2;
                                margin-left: 10px;
                            }
                        }
                    }

                    textarea{

                        width: 20vw;
                        margin-left: 50px;
                        border-radius: 10px;
                        padding: 10px;
                        font-size: 1.1rem;
                        height: 40px;
                    }




                }
            }
            .close {
                color: #aaa;
                float: right;
                font-size: 28px;
                font-weight: bold;
            }
            .close:hover,
            .close:focus {
                color: black;
                text-decoration: none;
                cursor: pointer;
            }


        }

        #position-error{
            text-align: center;
            color: red;
            display: none;
            margin-top: 50px;
        }
        .popup{
            position: fixed;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%);
            background-color: #fff;
            padding: 20px;
            width: 400px;
            border: 1px solid #ccc;
            border-radius: 20px;
            text-align: center;
            backdrop-filter: none;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        }

        h3{
            text-align: center;
            font-size: 1.8rem;
            margin-bottom: 50px;
        }
        h5{
            text-align: center;
            margin: 30px auto 10px;
            letter-spacing: 1.2px;
            color: #555;
        }
        .btn{
            float: right;
            display: block;
            text-decoration: none;
            color: rgb(10, 30, 208);
            font-weight: 300;
            border: 1px solid rgb(10, 30, 208);
            border-radius: 10px;
            width: 150px;
            text-align: center;
            margin: 20px;
            padding: 5px;
        }
        .btn:hover{
            color: whitesmoke;
            background-color: orange;
            border: 1px solid orange;
        }
        .question-reply{
            color:rgb(10, 30 ,208);
            font-weight: 300;
            text-decoration: none;


        }
        .question-reply:hover{
            color: orange;
            text-shadow: #555 0.1em;

        }

        table {

            font-size: 14px;
            border-collapse: collapse;
            width: 100%;
            max-width: 1280px;
            margin: 20px auto;
        }
        th, td {

            text-align: left;
            padding: 8px;
            border-bottom: 1px solid #ddd;
            width: 10vw;
            p{
                width: 8vw;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

            }
            a{
                color: rgb(10, 30, 208);
                font-weight: 300;
                text-decoration: none;
                letter-spacing: .5px;
            }
            a:hover{
                color: orange;
            }
            button{
                color: rgb(10, 30, 208);
                border: none;
                background-color: transparent;
                cursor: pointer;
                font-weight: 300;
                letter-spacing: .5px;
            }
            button:hover{
                color: orange;
            }



        }
        th {
            background-color: #f2f2f2;
        }
        tbody tr:hover {
            background-color: #f5f5f5;
        }

        .photoPopup{
            position: fixed;
            top:0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.8);
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .videoPopup{
            position: fixed;
            top:0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.8);
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .videoPopup video {
            max-width: 90%;
            max-height: 90%;
        }

        .popclose {
            position: absolute;
            top: 10px;
            right: 10px;
            background-color: #fff;
            padding: 5px 10px;
            cursor: pointer;
        }

        .pagination {
            display: flex;
            justify-content: center;
            list-style: none;
            padding: 0;
            margin-top: 50px;

            li {
              display: inline-block;
              margin: 0 5px;

              a {
                display: block;
                padding: 5px 10px;
                text-decoration: none;
                color: #333;
                background-color: #f5f5f5;
                border: 1px solid #ccc;
                border-radius: 3px;
                transition: background-color 0.3s ease;

                &:hover {
                  background-color: #e0e0e0;
                }
              }

              &.active {
                a {
                  background-color: #007bff;
                  color: #fff;
                }
              }

              &.disabled {
                opacity: 0.5;
                pointer-events: none;
              }
            }
          }


    }

     #toggleEditMode,#ReturnButton{
            float: right;
            display: block;
            text-decoration: none;
            color: #23547a;
            letter-spacing: 1.2;
            border: 1px solid #23547a;
            border-radius: 10px;
            width: 150px;
            text-align: center;
            margin: 20px;
            padding: 5px;
            background-color: transparent;
            cursor: pointer;
            font-size: 1rem;
     }
     #submitButton:hover{
        color: whitesmoke;
            background-color: orange;
            // border: 1px solid orange;
            background-position: 0 0;
     }
     #toggleEditMode:hover,#ReturnButton:hover{
            color: whitesmoke;
            background-color: orange;
            border: 1px solid orange;
     }
     #submitButton{
        margin-top: 20px;
        width: 250px;
        height: 45px;
        font-size: 1rem;
        letter-spacing: 1.3;
        border-radius: 20px;
        color: white;
        background-color: #2c7863;
        border: none;
        cursor: pointer;
        margin-bottom: 50px;
        display: block;
        margin: 50px auto;

        background-image: linear-gradient(to right, rgb(77, 76, 76) 0%, rgb(117, 111, 111) 50%, #3d9f84 50%, #2c7863 100%);
        background-size: 200% 100%;
        background-position: 100% 0;
        transition: background-position 0.3s ease, color 0.3s ease;
     }


    .companyData,.companyDataEdit{
        width: 60vw;
        // border: 1px solid silver;
        border-radius: 10px;

        margin:0 auto;
        padding-left: 60px;
        text-align: center;

        h2{
            font-size: 2rem;
            margin-top: 30px;
            margin-bottom: 30px;

        }
        .formBlock{
            margin-top: 100px;
        }

     .formgroup{
            margin: 10px auto;
            display: flex;
            align-items: center;
            font-size: 1.2rem;
            padding: 10px;
            // background-color: #f2f2f2;
            background-color: #ffffff;
            border: 1px solid silver;
            border-radius: 10px;
            .text-danger{
                margin-left: 30px;
                color: #ca2929;
                font-size: .9rem;
            }

            label{
                display: block;
                width: max-content;
                min-width: 110px;
                margin-right: 10px;
                color: #8d4726;

            }

            span{
                display: block;
                width: fit-content;
                margin-right: 20px;
            }

            input {
                border:0;
               text-align: center;
                width: 13vw;
                height: 30px;
                // min-width: 250px;
                // margin-bottom: 15px;
                font-size: 1.2rem;
                color: black;
                background-color: white;
                border: 1px solid silver;
                border-radius: 10px;
                color: #202953;



            }
            #company_name{
                width: 30vw;
            }
            #street{
                width: 20vw;
                padding-left: 15px;
                text-align: start;
            }
            #company_website{
                width: 15vw;
            }
            @media (max-width:1200px){
                input {
                    width: 20vw;

                }
                #company_website{
                    width: 20vw;
                }
                #street{
                    width: 35vw;
                }


            }

            select{
                width: 200px;
                height: 30px;
                padding-left: 10px;
                font-size: 1.1rem;
            }

            ul{
                display: flex;
                flex-wrap: wrap;
                width: 60vw;
                li{
                    margin: 10px;
                    display: flex;
                    align-items: center;
                    span{
                        display: block;
                        width: 100px;
                        font-size: 1.2rem;
                    }
                    input{
                        margin-left: 10px;
                    }
                    p{
                        line-height: 1;

                    }
                }
            }

            textarea{

                width: 20vw;
                margin-left: 50px;
                border-radius: 10px;
                padding: 10px;
                font-size: 1.1rem;
                height: 40px;
            }




        }

        .formgroup:hover{
            background-color: #f2f2f2;
        }
        .formgroup.phone_type{
            display: block;
            label{
               margin-bottom: 10px;
            }
            ul{
              display: flex;


              li{
                line-height: 1;
                  span{

                      text-align: center;
                  }
                  input{
                      width: 8vw;
                      min-width: 120px;
                      max-width: 180px;
                  }
                  #phone_number_1,#phone_number_2,#phone_number_3,#purchase_phone_number,#fax_number{
                    width:19vw;
                  }
                  @media (max-width:1200px){
                    #phone_number_1,#phone_number_2,#phone_number_3,#fax_number,#purchase_phone_number{
                        width:29vw;
                      }


                }

              }
              #company_purchase_person_name{
                width: 22vw;
              }
            }

      }

    }

    .companyDataEdit.Machines-list{

        #installation_street{
            width: 26vw;
        }
        .formgroup.selectType{
            display: flex;
            justify-content: center;
            align-items: center;
            select{
                width: 10vw;
                border-radius: 10px;

            }
            input{
                margin-left: 10px;
            }

        }
        .control-option.delete-button{
            background-color: white;
            float: right;
            display: block;
            text-decoration: none;
            color: rgb(10, 30, 208);
            font-weight: 300;
            border: 1px solid rgb(10, 30, 208);
            border-radius: 10px;
            width: 150px;
            text-align: center;
            margin: 20px;
            padding: 2px;
            font-size: 1rem;
            cursor: pointer;

        }
        .control-option.delete-button:hover{
            color: whitesmoke;
            background-color: orange;
            border: 1px solid orange;
        }

        .company-button{
            display: flex;
            justify-content: center;
        }


        .formgroup{
            margin: 20px auto;
            display: flex;
            align-items: center;
            font-size: 1.2rem;

            .text-danger{
                margin-left: 30px;
                color: #ca2929;
            }

            label{
                display: block;
                width: max-content;
                min-width: 110px;
                margin-right: 10px;

            }

            span{
                display: block;
                width: fit-content;
                margin-right: 20px;
            }

            input {
                border:0;

                width: 13vw;
                height: 30px;
                // min-width: 250px;
                // margin-bottom: 15px;
                font-size: 1.2rem;
                padding-left: 15px;
                background-color: white;
                border: 1px solid black;

            }

            select{
                width: fit-content;
                height: 30px;
                padding-left: 10px;
                font-size: 1.1rem;
                border-radius: 10px;
            }

            ul{
                li{
                    margin: 10px;
                    display: flex;
                    span{
                        display: block;
                        width: 100px;
                    }
                    input{
                        margin-left: 10px;
                    }
                    p{
                        line-height: 2.2;
                        margin-left: 10px;
                    }
                }
            }

            textarea{

                width: 20vw;
                margin-left: 50px;
                border-radius: 10px;
                padding: 10px;
                font-size: 1.1rem;
                height: 40px;
            }




        }
        .formgroup.phone_type{
              display: flex;

              label{
                 margin-bottom: 10px;
              }
              ul{
                display: flex;
                flex-wrap: wrap;


                li{
                    width: fit-content;
                    span{
                        line-height: 2.2;
                        text-align: center;
                    }
                    input{
                        width: fit-content;
                        max-width: 180px;
                    }
                }
              }




        }
        .formgroup.installation_type{
            ul{
                margin-left:60px;
                ol{
                    width: 50vw;
                    display: flex;
                    flex-wrap: wrap;
                    li{
                        span{
                            width: fit-content;
                            line-height: 2.2;
                            text-align: center;
                            color: #333;
                        }
                        input{
                            width: 7vw;
                            min-width: 150px;
                        }
                    }
                }
                li{

                    span{
                        width: fit-content;
                        line-height: 2.2;
                        color: #333;
                    }
                    ol{

                        li{
                            input{
                                width: 7vw;
                                min-width: 150px;
                            }
                        }


                    }
                }
            }
        }
        .formgroup.subBlock{
            margin-left:60px;
            margin-bottom: 50px;
        }
    }

    @media (max-width:1200px){
        .companyData,.companyDataEdit{
            width: 66vw;
            padding-left: 80px;
            padding-top: 30px;

        }


    }
#companyDataView{

    border: none;
    #companyDataForm{
        margin-top: 100px;
        .formgroup{
            border: 1px solid silver;
            padding: 15px;
            border-radius: 10px;
            margin: 15px;


            label{
                color: #8d4726;
            }
            span{
                color:#494c4ede ;

            }


            ul{
                display: flex;
            }

        }
        .formgroup.phone_type{
            display: flex;
            align-items: center;
            span{
                color:#494c4ede ;
            }
            label{
                margin-bottom: 0;
                min-width: 110px;
            }
        }



    }



}


// 公司基本資料表單樣式（橫向版）
.companyDataEdit1 {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

    h2 {
      font-size: 24px;
      margin-bottom: 20px;
      color: #555;
      text-align: center;
    }

    form {
      display: flex;
      flex-wrap: wrap;

      .formgroup {
        width: calc(50% - 20px);
        margin-right: 40px;
        margin-bottom: 20px;

        label {
          display: block;
          font-weight: bold;
          margin-bottom: 10px;
        }

        input[type="text"],
        input[type="email"] {
          width: 100%;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 5px;
          transition: border-color 0.3s;
          margin: 10px;
          &:focus {
            border-color: #007bff;
          }
        }

        ul {
          list-style: none;
          display: flex;

          li {
            margin-right: 10px;
            span {
              font-weight: bold;
            }

            input[type="text"] {
              width: 100px;
              padding: 5px;
              border: 1px solid #ccc;
              border-radius: 5px;
              transition: border-color 0.3s;

              &:focus {
                border-color: #007bff;
              }
            }
          }
        }
      }

      .phone_type {
        ul {
          display: flex;

          li {
            width: 33%;
            margin-right: 10px;
            span {
              font-weight: bold;
            }

            input[type="text"] {
              width: 100%;
              padding: 5px;
              border: 1px solid #ccc;
              border-radius: 5px;
              transition: border-color 0.3s;

              &:focus {
                border-color: #007bff;
              }
            }
          }
        }
      }

      .baseline {
        width: 100%;
        margin-bottom: 20px;
      }

      #submitButton {
        margin: 0 auto;
        background-color: #007bff;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: #0056b3;
        }
      }
    }
  }






    .memberBasicDate{

        width: 55vw;
        border: 1px solid rgb(2, 24, 18);
        border-radius: 10px;

        margin:  0 auto;
        .baseArea{
            margin: 0 auto;
            width: 30vw;

            h3{
                font-size: 2rem;
                margin: 30px auto;
                text-align: center;
            }

        }
        .baseline{


            border: 1px solid #ebcba1;
            margin-bottom: 30px;
        }
        .formgroup{
            margin: 50px auto;
            display: flex;
            align-items: center;
            font-size: 1.3rem;

            .text-danger{
                margin-left: 30px;
                color: #ca2929;
            }

            label{
                display: block;
                width: max-content;
                min-width: 110px;
                margin-right: 10px;
                color: #8d4726;

            }

            span{
                display: block;
                width: fit-content;
                margin-right: 20px;
            }


            input {
                border:0;

                width: 13vw;
                height: 30px;
                // min-width: 250px;
                // margin-bottom: 15px;
                font-size: 1.2rem;
                padding-left: 15px;
                color: white;
                background-color: transparent;
                border-bottom: 1px solid yellow;

            }

            select{
                width: 200px;
                height: 30px;
                padding-left: 10px;
                font-size: 1.1rem;
            }

            p{
                position: relative;
                display: inline-block;
                cursor: default;
            }

            p::before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0;
                height: 1px;
                background-color: rgb(221, 156, 43);
                transition: width 0.3s ease;
            }

            p:hover::before {
                width: 100%;
            }


            ul{
                li{
                    margin: 10px;
                    display: flex;
                    span{
                        display: block;
                        width: 100px;
                    }
                    input{
                        margin-left: 10px;
                    }
                    p{
                        line-height: 2.2;
                        margin-left: 10px;
                    }

                }
            }

            textarea{

                width: 20vw;
                margin-left: 50px;
                border-radius: 10px;
                padding: 10px;
                font-size: 1.1rem;
                height: 40px;
            }




        }
        .formgroup.phone_type{
              display: block;
              label{
                 margin-bottom: 10px;
              }
              ul{
                display: flex;


                li{
                    span{
                        line-height: 2.2;
                        text-align: center;
                    }
                    input{
                        width: 7vw;
                    }
                }
              }

        }
        .formgroup.installation_type{

            ul{
                margin-left:60px;
                ol{
                    display: flex;
                    li{
                        span{
                            width: 7vw;
                            line-height: 2.2;
                            text-align: center;
                        }
                        input{
                            width: 7vw;
                        }
                    }
                }
                li{

                    span{
                        width: fit-content;
                        line-height: 2.2;
                    }
                    ol{

                        li{
                            input{
                                width: 7vw;
                            }
                        }

                    }
                }
            }


        }
        .formgroup.subBlock{
            margin-left:60px;
            margin-bottom: 50px;
        }


        button {
            margin-top: 20px;
            width: 250px;
            height: 45px;
            font-size: 1rem;
            letter-spacing: 1.3;
            border-radius: 20px;
            border: none;
            cursor: pointer;
            margin-bottom: 50px;
            display: block;
            margin: 50px auto;
            /* 背景漸變 */
            background-image: linear-gradient(to right, rgb(77, 76, 76) 0%, rgb(117, 111, 111) 50%, #3d9f84 50%, #2c7863 100%);
            background-size: 200% 100%;
            background-position: 100% 0;
            transition: background-position 0.3s ease, color 0.3s ease;

            a{
                display: block;
                color: white;
                text-decoration: none;
                font-size: 1.2rem;
                letter-spacing: 2;

            }
        }
        button:hover{
            color: #273252;
            background-color: rgb(243, 175, 30);
             /* 背景顏色和漸變位置變化 */
            background-position: 0 0;

        }
    }

    .forbidUl{

       margin-top: 100px;
       li{
        margin: 30px;
        .forbid-icon{
            width: 20vw;
        }
        p{
            letter-spacing: 1.2;
            color: red;
        }
        .forbid-link{
            width: 15vw;
            letter-spacing: 1.2;
            text-decoration: none;

            color: white;
            border-radius: 10px;
            padding: 10px;
            background-color: black;
        }
        .forbid-link:hover{
            background-color: #706e6e;

        }
       }


    }

    .null-icon{
        width: 15vw;
        margin-top: 150px;

    }
    .null-link{

        text-decoration: none;
        padding: 10px;
        color: white;
        background-color: rgb(15, 59, 101);

    }
    .null-link:hover{
        background-color: #555;
    }


    h1 {
        font-size: 2.5rem;
        text-align: center;
    }
    .img-block{

        ul{

            display: flex;
            flex-wrap: wrap;
            justify-content:space-evenly;
            width: 85vw;
            margin: 0 auto;
            li{
                img{

                    width: 20vw;
                    min-width: 300px;
                    margin-top: 15px;
                    margin-bottom: 20px;


                }
                img:hover{
                    cursor: pointer;
                }
                ol{
                    display: flex;
                    justify-content: space-evenly;
                    align-items:center;
                    li{
                        p{
                            margin: 15px;
                            // font-weight: 500;
                            font-size: 1.2rem;
                            font-family: 'Noto Sans TC', sans-serif !important;
                        }
                        img{
                            width: 1.2rem;
                            margin: 0;
                        }
                    }
                }
            }
        }
    }

    .chooseItem {
        width: 90vw;
        margin: 0 auto;
        text-align: center;
        display: flex;
        justify-content: center;

        ul {
            margin-top: 50px;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;

            li {
                margin: 20px;

                img {
                    width: 25vw;
                    max-width: 500px;
                    min-width: 300px;
                    cursor: pointer;



                }
                p{
                    margin: 15px;
                    font-size: 1.2rem;
                    letter-spacing: 1.2px;
                }
            }
        }
    }

    @media (max-width:615px) {

            .chooseItem {

                ul {
                    width: 50px;
                }
            }


    }


}
.faq-search-show{
    min-height: 30vw;

    h1{
        text-align: center;
        font-size: 2vw;
        border-bottom: 1px solid silver;
        width: 10vw;
        margin: 50px auto;
        padding: 10px;
    }
    p{
        color: #706e6e;
        text-align: center;
        font-size: large;

    }
    table {

        font-size: 1rem;
        border-collapse: collapse;
        width: 90vw;
        margin: 0 auto;
        border: 1px solid #ddd;
        border-radius: 10px;
        line-height: 1.5;
        font-family: 'Courier New', Courier, monospace;
        font-weight: 450;

    }
    th, td {

        text-align: left;
        padding: 10px;
        border: 1px solid #ddd;
        width: 10vw;
        letter-spacing: 1px;
        p{
            width: 8vw;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;


        }
        // pre{
        //     white-space: pre-wrap;
        //     word-wrap: break-word;
        //     max-width: 100%; /* 根據需要調整最大寬度 */
        //     text-indent: 20px;
        // }



    }
    th {
        background-color: #f2f2f2;
    }
    tbody tr:hover {
        background-color: #f5f5f5;
    }

}



// .blur {
//     filter: blur(5px); /* 设置模糊度，可以根据需要调整 */
//   }
// ＱＡ 機器分類提問區

.QA_content{
    margin-top: 40px;
    display: flex;
    justify-content:space-evenly;
    .popup{
        position: fixed;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        background-color: #fff;
        padding: 20px;
        width: 50vw;
        min-width: 400px;
        border: 1px solid #ccc;
        border-radius: 20px;
        text-align: center;
        backdrop-filter: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);

        .popup-content{

            text-align: start;
            font-size: 1.2rem;
            line-height: 1.5;
            font-weight: 300;
            color: #555;
            .pre-wrap{
                white-space: pre-wrap;
                word-wrap: break-word;
                max-width: 100%; /* 根據需要調整最大寬度 */
            }


        }
    }
    .questionPostpop{
        position: fixed;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;

        form{
            label{
                color: white;
                letter-spacing: 1.2px;
                font-size: 1.2rem;
            }
            input{
                letter-spacing: 1.2px;
            }
            .attachfile{
                color: white;
            }


        }
        .closePostBtn{
            position: relative;
            bottom: 175px;
            left: 545px;
            background-color: #fff;
            padding: 5px 10px;
            cursor: pointer;
            color: #555;
            width: 80px;
            font-weight: 400;
            letter-spacing: 1.5px;
        }
        .closePostBtn:hover{
            color: white;
        }

    }



    .left-content{
        img{
            width: 30rem;
            // border: 1px rgb(47, 143, 135) solid;
            border-radius: 999em;
        }
        h2{
           font-weight: 200;
           font-size: 1.5rem;
           text-align: center;
        }
        h3{
           font-weight: 200;

            margin-top: 20px;
            text-align: center;
        }

    }

    .right-content{
        // border: 1px solid saddlebrown;
        // width:40vw;
        margin-right: 50px;
        .message_border{
            width: 50vw;
            height: 500px;
            overflow:scroll;
            p{
                color: #555;
                letter-spacing: 1.2;

            }

            .message{
                border-bottom: 1px silver solid;
                padding-bottom: 10px;

                .reply-button{
                    float: right;
                    margin-left: 150px;
                    background-color: rgb(15, 59, 101);
                    bottom: 10px;
                }
                .reply-button:hover{
                    background-color: rgb(138, 166, 166);
                }

            }
        }
        .baseline{
            width: 20vw;
            border:1px double silver;
        }
        button{
            text-decoration: none;
            float: right;
            cursor: pointer;
            border: 0;
            background-color: rgb(118, 114, 109);
            color: white;
            width: 100px;
            height: 30px;
            border-radius: 10px;
            font-weight: 300;
            letter-spacing: 1.5px;
            font-size: .9rem;


            a{
                text-decoration: none;
                color: white;
                font-weight: 300;

            }

        }
        button:hover{
            background-color: rgb(236, 133, 8);
        }
        .faq{
            min-width: 500px;
            height: 100%;
            overflow: auto;
            .listblock{
                margin-top: 50px;
                .topline{
                    // border: 1px solid black;
                    width: 1000px;
                    margin-bottom: 20px;
                }
                table {

                    font-size: 1rem;
                    border-collapse: collapse;
                    width: 100%;
                    letter-spacing: 1.5px;
                }
                th, td {

                    text-align: left;
                    padding: 8px;
                    border-bottom: 1px solid #ddd;
                    width: 10vw;

                    p{
                        font-size: 2rem;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;

                    }

                }
                th {
                    background-color: #f2f2f2;
                }


                ul{

                    li{
                        margin-bottom: 30px;
                        letter-spacing: 2;
                        line-height: 1.4;
                        width: 80vw;
                        // border-top: 1px solid rgb(15, 59, 101);

                        h5{
                            color: #555;
                            border-bottom: 1px solid silver;
                        }
                        .faq-title{
                            color: rgb(15, 59, 101);
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            border-bottom: 1px dashed gray;
                            padding: 10px;
                            font-size: 1.2rem;
                            font-weight: 400;
                            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                            .textBlock{
                                display: flex;
                            }

                            .itemBlock{

                                img{
                                   width: 1.2vw;
                                   margin-right: 25px;
                                   margin-top: 3px;

                                }
                           }
                            h3{
                                color: rgb(233 168 74);
                                font-size: 2.3rem;
                                font-style: italic;
                            }
                            label{
                                border: 1px solid rgb(233 168 74);
                                border-radius: 999em;
                                width: 26px;
                                height: 26px;
                                text-align: center;
                                background: rgb(233 168 74);
                                color: white;
                                font-size: 18px;
                                font-family: sans-serif;
                                margin-right: 20px;
                            }
                            p{
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                            button{
                                margin-left: auto;
                                background-color: rgb(15, 59, 101);
                            }
                            button:hover{

                                background-color: rgb(237, 188, 14);
                            }




                        }
                        .faq-content{
                            display: none;
                            background-color: #8a8a8a;
                            color: white;
                            padding: 10px;
                            padding-left: 20px;

                            .photoPopup{
                                position: fixed;
                                top:0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                background-color: rgba(0, 0, 0, 0.8);
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
                            .videoPopup{
                                position: fixed;
                                top:0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                background-color: rgba(0, 0, 0, 0.8);
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
                            .videoPopup video {
                                max-width: 90%;
                                max-height: 90%;
                            }

                            .popclose {
                                position: absolute;
                                top: 10px;
                                right: 10px;
                                padding: 5px 10px;
                                cursor: pointer;
                            }
                        }
                        .faq-toggle{
                            width: 60px;
                            font-size: 1.2rem;

                        }
                    }

                }
            }



            h2{
                position: relative;
                top: 50%;
                left: 20%;
                color: gray;
                font-style: italic;
            }

        }


        h3{
           color: rgb(15, 59, 101);
           text-align: end;
           margin-top: 5px;
        }
        p{
            margin: 10px;
            color: rgb(15, 59, 101);

        }
        textarea{
            // font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size:15px;
            width:550px;
            height:100px;
            border: 1px #ccc solid;

            padding: 10px;
        }
        input{
            padding: 5px 15px;
            border: 1px #ccc solid;
            cursor: pointer;
            border-radius: 5px;



        }

        .submit{
            float: right;
            background-color: rgb(15, 59, 101);
            color: aliceblue;
            }
            .submit:hover{

                background-color: rgb(138, 166, 166);
                color: aliceblue;
                }

    }
}

@media (max-width:902px){
    .QA_content{
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        align-items: center;
    }
}







