@import './reset';
@import './nav';
@import './footer';

::-webkit-scrollbar {
    display: none;
}
.search{
    text-align: center;
    margin: 30px;

    input{
        width: 20vw;
        padding: 5px 15px;
        border: 1px rgb(138, 166, 166) solid;
        cursor: pointer;
        border-radius: 5px;
    }
    button{
        text-decoration: none;
        cursor: pointer;
        border: 0;
        background-color: rgb(118, 114, 109);
        color: white;
        width: 100px;
        height: 30px;
        border-radius: 10px;
    }
    button:hover{
        background-color: orange;
    }
}
main {
    margin-top: 50px;

    .null-icon{
        width: 15vw;
        margin-top: 150px;

    }
    .null-link{
        
        text-decoration: none;
        color: rgb(15, 59, 101);
         
    }
    .null-link:hover{
        color: orange;
         
    }


    h1 {
        font-size: 2.5rem;
        text-align: center;
    }
    .img-block{
        
        ul{
            
            display: flex;
            flex-wrap: wrap;
            justify-content:space-evenly;
            width: 85vw;
            margin: 0 auto;
            li{
                img{

                    width: 20vw;
                    // margin-right: 5vw;
                    margin-top: 15px;
                    margin-bottom: 20px;
                    
                    
                }
                img:hover{
                    cursor: pointer;
                }
                ol{
                    display: flex;
                    justify-content: space-evenly;
                    align-items:center;
                    li{
                        p{
                            margin: 15px;
                            font-weight: 500;
                        }
                        img{
                            width: 1.2rem;
                            margin: 0;
                        }
                    }
                }
            }
        }
    }

    .chooseItem {
        width: 90vw;
        min-height: 55vh;
        margin: 0 auto;
        text-align: center;


        ul {
            margin-top: 50px;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;


            li {
                margin: 20px;
                
                img {
                    width: 20vw;
                    cursor: pointer;
                    


                }
                p{
                    margin: 15px;
                    font-weight: 500;
                }
            }
        }
    }
}


// .blur {
//     filter: blur(5px); /* 设置模糊度，可以根据需要调整 */
//   }
// ＱＡ 機器分類提問區

.QA_content{
    margin-top: 40px;
    display: flex;
    justify-content:space-evenly;
    .popup{
        position: fixed;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        background-color: #fff;
        padding: 20px;
        width: 400px;
        border: 1px solid #ccc;
        border-radius: 20px;
        text-align: center;
        backdrop-filter: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    }
    
   
      
    .left-content{
        img{
            width: 30rem;
            // border: 1px rgb(47, 143, 135) solid;
            border-radius: 999em;
        }
        h2{
           font-weight: 200;
           font-size: 1.5rem;
           text-align: center;
        }
        h3{
           font-weight: 200;

            margin-top: 20px;
            text-align: center;
        }
        
    }

    .right-content{
        // border: 1px solid saddlebrown;
        width: 40vw;
        margin-right: 50px;
        .message_border{
            width: 40vw;
            height: 300px;
            overflow:scroll;
            
            .message{
                border-bottom: 1px silver solid;

                .reply-button{
                    float: none;
                    margin-left: 150px;
                    background-color: rgb(15, 59, 101);
                }
                .reply-button:hover{
                    background-color: rgb(138, 166, 166);
                }
                 
            }
        }
        .baseline{
            width: 20vw;
            border:1px double silver;
        }
        button{
            text-decoration: none;
            float: right;
            cursor: pointer;
            border: 0;
            background-color: rgb(118, 114, 109);
            color: white;
            width: 100px;
            height: 30px;
            border-radius: 10px;
            

            a{
                text-decoration: none;
                color: white;
                font-weight: 300;
                
            }
            
        }
        button:hover{
            background-color: rgb(236, 133, 8);
        }
        .faq{
            width: 40vw;
            max-width: 880px;
            min-width: 500px;
            height: 100%;
            overflow: auto;
            .listblock{
                margin-top: 50px;
                .topline{
                    border: 1px solid black;
                    width: 1000px;
                    margin-bottom: 20px;
                }

                ul{
                    li{
                        margin-bottom: 30px;
                        letter-spacing: 2;
                        line-height: 1.4;
                        .faq-title{
                            color: rgb(15, 59, 101);
                            border-bottom: 1px solid rgb(15, 59, 101);
                            
                        }
                        .faq-content{
                            color: rgb(138, 166, 166);
                        }
                    }
                    
                }
            }
           

            
            h2{
                position: relative;
                top: 50%;
                left: 20%;
                color: gray;
                font-style: italic;
            }

        }
        
       
        h3{
           color: rgb(15, 59, 101);
           text-align: end;
           margin-top: 5px;
        }
        p{
            margin: 10px;
            color: rgb(15, 59, 101);
            
        }
        textarea{
            // font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size:15px;
            width:550px;
            height:100px;
            border: 1px rgb(138, 166, 166) solid;

            padding: 10px;
        }
        input{
            padding: 5px 15px;
            border: 1px rgb(138, 166, 166) solid;
            cursor: pointer;
            border-radius: 5px;

            
            
        }

        .submit{
            float: right;
            background-color: rgb(15, 59, 101);
            color: aliceblue;
            }
            .submit:hover{
                
                background-color: rgb(138, 166, 166);
                color: aliceblue;
                }
    
    }
}