@import './reset';
@import './nav';
@import './footer';

::-webkit-scrollbar {
    display: none;
}
.search{
    text-align: center;
    margin: 30px;

    input{
        width: 20vw;
        padding: 5px 15px;
        border: 1px #ccc solid;
        cursor: pointer;
        border-radius: 5px;
        color: #555;
    }
    button{
        text-decoration: none;
        cursor: pointer;
        border: 0;
        background-color: rgb(118, 114, 109);
        color: white;
        width: 100px;
        height: 30px;
        border-radius: 10px;
    }
    button:hover{
        background-color: orange;
    }
    .form-group{
        margin: 20px;

        label{
            color: #555;
            letter-spacing: 1.2;
        }
        input{
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-top: 6px;
            margin-bottom: 16px;
            resize: vertical;
            font-size: 16px;
        }
        textarea {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-top: 6px;
            margin-bottom: 16px;
            resize: vertical;
            font-size: 16px;
          }
    }

  
    /* 隱藏原本的下拉箭頭 */
    select {
             -webkit-appearance: none;
             -moz-appearance: none;
             appearance: none;
             /* 選擇框寬度 */
             width: 200px;
             /* 選擇框高度 */
             height: 20px;
             /* 自訂選擇框背景 */
             background-color: #fff;
             /* 自訂邊框 */
             border: 1px solid #ccc;
             /* 自訂邊框圓角 */
             border-radius: 4px;
             /* 自訂字型 */
             font-family: inherit;
             /* 自訂字體大小 */
             font-size: .8rem;
             /* 自訂文字位置 */
             text-align-last: center;
             text-align: center;
           }

            /* 自訂下拉箭頭 */
            select::after {
              content: "\25BC";
              position: absolute;
              top: 15px;
              right: 10px;
              font-size: 25px;
              color: #555;
              pointer-events: none;
            }

            /* 自訂下拉選單樣式 */
            select option {
            /* 自訂背景顏色 */
            background-color: #fff;
            /* 自訂字體大小 */
            font-size: 16px;
            /* 自訂文字位置 */
            text-align: center;
            }

}
main {
    margin-top: 50px;



    .null-icon{
        width: 15vw;
        margin-top: 150px;

    }
    .null-link{
        
        text-decoration: none;
        color: rgb(15, 59, 101);
         
    }
    .null-link:hover{
        color: orange;
         
    }


    h1 {
        font-size: 2.5rem;
        text-align: center;
    }
    .img-block{
        
        ul{
            
            display: flex;
            flex-wrap: wrap;
            justify-content:space-evenly;
            width: 85vw;
            margin: 0 auto;
            li{
                img{

                    width: 20vw;
                    // margin-right: 5vw;
                    margin-top: 15px;
                    margin-bottom: 20px;
                    
                    
                }
                img:hover{
                    cursor: pointer;
                }
                ol{
                    display: flex;
                    justify-content: space-evenly;
                    align-items:center;
                    li{
                        p{
                            margin: 15px;
                            font-weight: 500;
                        }
                        img{
                            width: 1.2rem;
                            margin: 0;
                        }
                    }
                }
            }
        }
    }

    .chooseItem {
        width: 90vw;
        min-height: 55vh;
        margin: 0 auto;
        text-align: center;


        ul {
            margin-top: 50px;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;


            li {
                margin: 20px;
                
                img {
                    width: 20vw;
                    cursor: pointer;
                    


                }
                p{
                    margin: 15px;
                    font-weight: 500;
                }
            }
        }
    }
}
.faq-search-show{
    min-height: 30vw;
    
    h1{
        text-align: center;
        font-size: 2vw;
        border-bottom: 1px solid silver;
        width: 10vw;
        margin: 50px auto;
        padding: 10px;
    }
    p{
        color: #706e6e;
        text-align: center;
        font-size: large;

    }
    table {
                    
        font-size: 14px;
        border-collapse: collapse;
        width: 50vw;
        margin: 0 auto;
        border: 1px solid #ddd;
        border-radius: 10px;

    }
    th, td {
        
        text-align: center;
        padding: 8px;
        border: 1px solid #ddd;
        width: 10vw;
        letter-spacing: 1px;
        p{
            width: 8vw;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          
        }
       
     
        
    }
    th {
        background-color: #f2f2f2;
    }
    tbody tr:hover {
        background-color: #f5f5f5;
    }
    
}

// .blur {
//     filter: blur(5px); /* 设置模糊度，可以根据需要调整 */
//   }
// ＱＡ 機器分類提問區

.QA_content{
    margin-top: 40px;
    display: flex;
    justify-content:space-evenly;
    .popup{
        position: fixed;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        background-color: #fff;
        padding: 20px;
        width: 400px;
        border: 1px solid #ccc;
        border-radius: 20px;
        text-align: center;
        backdrop-filter: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    }
    
   
      
    .left-content{
        img{
            width: 30rem;
            // border: 1px rgb(47, 143, 135) solid;
            border-radius: 999em;
        }
        h2{
           font-weight: 200;
           font-size: 1.5rem;
           text-align: center;
        }
        h3{
           font-weight: 200;

            margin-top: 20px;
            text-align: center;
        }
        
    }

    .right-content{
        // border: 1px solid saddlebrown;
        width: 40vw;
        margin-right: 50px;
        .message_border{
            width: 40vw;
            height: 300px;
            overflow:scroll;
            
            .message{
                border-bottom: 1px silver solid;

                .reply-button{
                    float: none;
                    margin-left: 150px;
                    background-color: rgb(15, 59, 101);
                }
                .reply-button:hover{
                    background-color: rgb(138, 166, 166);
                }
                 
            }
        }
        .baseline{
            width: 20vw;
            border:1px double silver;
        }
        button{
            text-decoration: none;
            float: right;
            cursor: pointer;
            border: 0;
            background-color: rgb(118, 114, 109);
            color: white;
            width: 100px;
            height: 30px;
            border-radius: 10px;
            

            a{
                text-decoration: none;
                color: white;
                font-weight: 300;
                
            }
            
        }
        button:hover{
            background-color: rgb(236, 133, 8);
        }
        .faq{
            width: 40vw;
            max-width: 880px;
            min-width: 500px;
            height: 100%;
            overflow: auto;
            .listblock{
                margin-top: 50px;
                .topline{
                    border: 1px solid black;
                    width: 1000px;
                    margin-bottom: 20px;
                }

                ul{
                    li{
                        margin-bottom: 30px;
                        letter-spacing: 2;
                        line-height: 1.4;
                        .faq-title{
                            color: rgb(15, 59, 101);
                            border-bottom: 1px solid rgb(15, 59, 101);
                            
                        }
                        .faq-content{
                            color: rgb(138, 166, 166);
                        }
                    }
                    
                }
            }
           

            
            h2{
                position: relative;
                top: 50%;
                left: 20%;
                color: gray;
                font-style: italic;
            }

        }
        
       
        h3{
           color: rgb(15, 59, 101);
           text-align: end;
           margin-top: 5px;
        }
        p{
            margin: 10px;
            color: rgb(15, 59, 101);
            
        }
        textarea{
            // font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size:15px;
            width:550px;
            height:100px;
            border: 1px rgb(138, 166, 166) solid;

            padding: 10px;
        }
        input{
            padding: 5px 15px;
            border: 1px rgb(138, 166, 166) solid;
            cursor: pointer;
            border-radius: 5px;

            
            
        }

        .submit{
            float: right;
            background-color: rgb(15, 59, 101);
            color: aliceblue;
            }
            .submit:hover{
                
                background-color: rgb(138, 166, 166);
                color: aliceblue;
                }
    
    }
}