@import "./reset";
@import "./set";

.UserLogin { 
    background-repeat: no-repeat;
    background-size: cover;
    

    main {
        .topText {
            text-align: end;
            color: whitesmoke;
            margin-top: 70px;
            margin-bottom: 10px;
            font-size: 2rem;
           
            img{
                width: 11rem;
                margin-right: 75px;
                
            }
    
        }
        .container{
            display: flex;
            margin-top: 50px;
            width: 895px;
            height: 500px;
            align-items: center;
            justify-content:space-evenly;
            background-color: black;
            border-radius: 10px;
            opacity: .7;
          .left{
            h1{
                color: cornsilk;
                font-size: 24px;
         
            }
            .form-group{
                color: cornsilk;
                margin: 15px;
                text-align: center;
                label{
                 margin-bottom: 15px;
                }
                input{
                    width: 20vw;
                }
         
                .btn{
                    margin-top: 30px;

                    width: 200px;
                    height: 45px;
                    font-size: 1rem;
                    border-radius: 2px;

                    color: white;
                    background-color: orange;
                    border-radius: 20px;
                    border: none;
                    cursor: pointer;
                }
                .btn:hover{
                 background-color:rgb(17, 36, 91);
                 
                }
                .text-danger{
                    margin-top: 10px;
                    color: #dee2e6 !important;
                }
         
            }
            a{
                color: cornsilk;
                text-decoration: none;
            }
            a:hover{
                 color:#343660;
        
            }
          }
           
           
        }

        .log {
            
            color: cornsilk;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
            width:25vw;
            min-width: 360px;
            height: 40vw;
            min-height: 600px;
            margin-left: 29vw;
            // margin: 0 auto;
            background-color: black;
            opacity: .7;
            h1 {
                font-size: 36px;
                margin-bottom: 40px;
                text-align: center;
            }
            h2{
                font-size: 2vw;
                letter-spacing: 2.6;
            }
            

            .left {
                
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                // border: 1px solid slategrey;
                margin: 0 auto;
                margin-top: 10px;

                height: 394px;
                width: 300px;
                p{
                    text-align: center;
                    letter-spacing: 2.6;
                    font-size: 1.5rem;
                }





                .txt {
                    display: flex;
                    font-size: 12rem;

                    a {
                        margin-left: 10px;
                        text-decoration: none;

                        color: #273252;

                    }
                    a:hover{
                        color: cornsilk;
                    }
                }
                 .formgroup{
                    margin-bottom: 40px ;
                 }
                .input {
                    
                    margin-top: 30px;
                    margin-bottom: 30px;
                    align-items: center;
                    input {
                        border: 0px;
                        border-color: #878787;
                        border-style:solid;
                        border-bottom-width: 1px;
                        background-color: transparent;
                        margin-top: 15px;
                        width: 17vw;
                        min-width: 250px;
                        height: 30px;
                        padding-left: 15px;
                        text-align: center;
                        color: whitesmoke;
                        font-size: 1.1rem;
                        letter-spacing: 2.6;
                       
                       
                        
                       
                    }
                    .text-danger{
                        margin-top: 10px;
                        margin-left: 30px;
                        width: fit-content;
                        
                        
                    }
                }

                .check{
                    margin-top: 20px;
                    display: flex;
                    // border: 1px solid silver;
                    width: 17vw;
                    min-width: 250px;
                    justify-content: space-between;
                    align-items: center;
                    text-align: center;
                    font-size: 1rem;
                    span{
                        margin-top: 15px;
                        margin-bottom: 15px;
                        
                    }
                    a{
                        text-decoration: none;
                        color: yellow;
                        border-bottom: 1px solid yellow;
                        cursor: pointer;
                    }
                    a:hover{
                        color: #273252;
                        border-bottom: 1px solid #273252;;

                    }
                }


                .alert.alert-info{
                    margin-top: 10px;
                    text-align: center;
                    line-height: 2;
                    background-color: rgb(197 24 80);
                    border-radius: 10px;

                }
                .button-style{
                   
                    text-align: center;
                    button {
                    
                        margin-top: 30px;

                        width: 200px;
                        height: 45px;
                        font-size: 1rem;
                        border-radius: 2px;
    
                        color: white;
                        background-color: orange;
                        border-radius: 20px;
                        border: none;
                        cursor: pointer;
    
                        a{
                            text-decoration: none;
                            color: aliceblue;
                            letter-spacing: 1px;
                            font-size: 1.2rem;
                        }
                    }
                }

                .baseline{
                    margin-top: 20px;
                    width: 270px;
                    border: 1px cornsilk solid;
                }
                .admin-text{
                    color: rgb(17, 36, 91);
                    margin-top: 30px;
                    a{
                        text-decoration: none;
                        color: cornsilk;
                        
                    }
                    a:hover{
                        color: rgb(17, 36, 91);
                    }
                }


            }
            .register{
                font-size: 1rem;
                text-align: center;
                margin-top: 50px;
                letter-spacing: 1.2px;
                
                a{
                    text-decoration: none;
                    color: yellow;
                    border-bottom: 1px solid yellow;
                    cursor: pointer;
                }
                a:hover{
                    color: #273252;
                    border-bottom: 1px solid #273252;;

                }

            }

            .right{
                img{
                    width: 12vw;
                    display: none;
                }
                
            }

           
            @media screen and (max-width:map-get($breakpoints,'desktop')){

                .right{
                    img{
                        width: 10vw;
                        margin-right: 50px;
                        min-width: 150px;
                    }
                    
                }
            
                                                   
            }


            

        }
        .log.forgot{
            p{
                margin-top: 15px;
                line-height: 1.6;
                font-size: 1.2vw;

            }
            .alert{
                color:#df3737;
                margin-top: 30px;
                letter-spacing: 1.5;
                line-height: 1.5;
            }




        }

        @media (max-width:699px) {
            
            
                .log{

                    display: block;
                    margin: 0 auto;
                    border: 0;
                    overflow: hidden;

                    h1{
                        margin-top: 30px;
                    }

                    .left{
                        .check{
                            margin-top: 30px;
                            flex-direction: column;
                            
                        }
                    }
                }

              
            
                    

        



    }
    }

      
}

@media (max-width:699px) {
    .UserLogin { 
        background-position: center;
        background-repeat: repeat;
    
        main{
            .topText{
                text-align: center;
                margin-left: 70px;
                margin-bottom: 50px;
            
                
            }
        }


    }
}


//admin UI  
.admin{
    background-color:#273252;
    min-width: 311px;

    main{
        .topText {
            text-align: center;
            color: whitesmoke;
            margin-top: 100px;
            font-size: 2rem;
            img{
                width: 12rem;
            }
    
        }
        .log.forgot{
            p{
                margin-top: 15px;
                line-height: 1.2;
            }
        }
        .log{
          color: cornsilk;

          display: flex;
          justify-content: space-evenly;
          align-items: center;
          width: 45vw;
          min-width: 660px;
          height: 500px;
          border: 2px solid cornsilk;
          border-radius: 10px;
          margin: 50px auto;
          background-color:#273252;

          .right {
            // border: 1px solid slategrey;
            height: 394px;
            width: 300px;
            margin-top: 100px;

            h1 {
                font-size: 24px;
                margin-bottom: 10px;
            }

            .txt {
                display: flex;

                a {
                    margin-left: 10px;
                    text-decoration: none;

                    color: #bbc5e2;

                }
                a:hover{
                    color: cornsilk;
                }
            }

            .input{
                margin-top: 30px;
                margin-bottom: 15px;
               
                input{
                    border: 0;
                    border-radius: 10px;
                    margin-top: 15px;
                    width: 13vw;
                    min-width: 250px;
                    height: 30px;
                    padding-left: 15px;
                    color: #273252;
                    
                   
                }
                .text-danger{
                    margin-top: 30px;
                    color: #820d0d;
                }
            }

            .check{
                text-align: right;
                
                margin-right: 30px;
                input{
                    margin-top: 15px;
                    margin-bottom: 15px;
                }
                a{
                    text-decoration: none;
                    color: cornsilk;
                    font-size: .8rem;
                }
                a:hover{
                    color: #bbc5e2;

                }
            }

            button {
               
                margin-top: 20px;
                width: 250px;
                height: 45px;
                font-size: 1rem;
                border-radius: 2px;

                color: cornsilk;
                background-color: rgb(32 40 207);
                border-radius: 20px;
                border: none;
                cursor: pointer;

                a{
                    text-decoration: none;
                    color: aliceblue;
                    letter-spacing: 1px;
                    font-size: 1.2rem;
                }
            }
            button:hover{
                background-color: #bbc5e2;
                color: #273252;
            }
           


        }

        }

        @media (max-width:699px) {
                    
            .log{
                display: block;
                margin: 0 auto;
                width: 100%;
                border: 0;
                min-width:auto;
            }
            .left{
                display: none;
                
            }
        
            .right{
                
                margin: 0 auto;
                h1{
                    display: block;
                    text-align: center;
                    margin-top: 30px;
                    margin-bottom: 20px;

                }
                .txt{
                    justify-content: center;
                    padding:10px;
                    
                }
                p{
                    font-size: 1.3rem;
                }
                a{
                    font-size: 1.3rem;
                }

                form{
                    margin: 0 auto;
                    .formgroup{
                        text-align: center;
                        margin-bottom: 15px;
                    }


                }

                .input{
                    text-align: center;
                    
                    
                }

                .input input{
                    font-size: 1rem;
                    
                }

                button{
                    margin:25px;
                }

                
            }
        


 
      }
    }
}