@import "./reset";

body {
    background-color: 273252;

    .topText {
        text-align: center;
        color: whitesmoke;
        margin-top: 100px;
        font-size: 2rem;
        img{
            width: 12rem;
        }

    }

    main {
        .log {
            display: flex;
            justify-content: space-evenly;
            width: 55vw;
            min-width: 700px;
            // height: 5000px;
            height: fit-content;
            border: 2px solid cornsilk;
            border-radius: 10px;
            margin: 50px auto;
            // background-color: rgb(104 159 198);
            background-color: 273252;

            .baseArea{
                margin: 0 auto;
                width: fit-content;
                

            }
            .baseline{

                width: 50vw;
                border: 1px solid #ebcba1;
                margin-bottom: 30px;
            }
            .fontline{
                width: 10vw;
                border: 1px solid #ebcba1;
                margin: 0 auto;
                margin-bottom: 30px;
            }
            .left {
                // border: 1px solid slategrey;
                color:rgb(255 246 122);
                letter-spacing: 1.1;
                margin-top: 50px;

               
                .CompanyData-nav{
                    display: flex;
                    justify-content: space-between;
                    img{
                        width: 1.5vw;
                        cursor: pointer;
                    }
                }
                h1 {
                    font-size: 2rem;
                    margin-bottom: 30px;
                    text-align: center;
            
                    

                }
                h2{
                    font-size: 1.5rem;
                    margin-bottom: 30px;
                }

                .txt {
                    display: flex;

                    a {
                        margin-left: 10px;
                        text-decoration: none;

                        color: cornsilk;

                    }
                    a:hover{
                        color: #273252;
                    }
                }

                .popup{
                    position: fixed;
                    top:10%;
                    left:50%;
                    transform: translate(-50%,-50%);
                    background-color: #fff;
                    padding: 20px;
                    width: 400px;
                    border: 1px solid #ccc;
                    border-radius: 20px;
                    text-align: center;
                    backdrop-filter: none;
                    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
                }




                .formgroup{
                    margin: 50px auto;
                    display: flex;
                    align-items: center;
                    font-size: 1.2rem;
                    
                    .text-danger{     
                        margin-left: 30px;
                        color: #ca2929;                       
                    }

                    label{
                        display: block;
                        width: max-content;
                        min-width: 8vw;
                        margin-right: 10px;
                        
                    }

                    span{
                        display: block;
                        width: fit-content;
                        margin-right: 20px;
                    }

                    input {
                        border:0;
                       
                        width: 13vw;
                        height: 30px;
                        // min-width: 250px;
                        // margin-bottom: 15px;
                        font-size: 1.2rem;
                        padding-left: 15px;
                        color: white;
                        background-color: transparent;
                        border-bottom: 1px solid yellow;
                
                    }

                    select{
                        width: 200px;
                        height: 30px;
                        padding-left: 10px;
                        font-size: 1.1rem;
                    }

                    ul{
                        li{
                            margin: 10px;
                            display: flex;
                            span{
                                display: block;
                                width: 100px;
                            }
                            input{
                                margin-left: 10px;
                            }
                            p{
                                line-height: 2.2;
                                margin-left: 10px;
                            }
                        }
                    }

                    textarea{

                        width: 20vw;
                        margin-left: 50px;
                        border-radius: 10px;
                        padding: 10px;
                        font-size: 1.1rem;
                        height: 40px;
                    }

                    

                    
                }
                .formgroup.phone_type{
                      display: block;
                      label{
                         margin-bottom: 10px;
                      }
                      ul{
                        display: flex;
                        
                        
                        li{
                            span{
                                line-height: 2.2;
                                text-align: center;
                            }
                            input{
                                width: 7vw;
                            }
                        }
                      }
                    
                }
                .formgroup.installation_type{
                    ul{
                        margin-left:60px;
                        ol{
                            display: flex;
                            li{
                                span{
                                    width: 5vw;
                                    line-height: 2.2;
                                    text-align: center;
                                }
                                input{
                                    width: 7vw;
                                }
                            }
                        }
                        li{

                            span{
                                width: fit-content;
                                line-height: 2.2;
                            }
                            ol{
                               
                                li{
                                    input{
                                        width: 7vw;
                                    }
                                }

                            }
                        }
                    }
                }
                .formgroup.subBlock{
                    margin-left:60px;
                    margin-bottom: 50px;
                }


                button {
                    margin-top: 20px;
                    width: 250px;
                    height: 45px;
                    font-size: 1rem;
                    letter-spacing: 1.3;
                    border-radius: 20px;
                    color: white;
                    background-color: #2c7863;
                    border: none;
                    cursor: pointer;
                    margin-bottom: 50px;
                    display: block;
                    margin: 50px auto;
                }
                button:hover{
                    color: #273252;
                    background-color: rgb(255 246 122);
                }
            }

            .alert{
                margin-top: 15px;
                text-align: center;
                line-height: 2;
                color: #c80101;
            }
            .alert.alert-success{
                background-color: #343660;
            }
            .alert.alert-fail{
                background-color: #c80101;
            }



        }

        @media (max-width:699px) {
                    
            .log{
                display: block;
                margin: 0 auto;
                width: auto;
                border: 0;
                min-width:auto;

                .left{
                
                    margin: 0 auto;
                    h1{
                        display: block;
                        text-align: center;
                        margin-top: 30px;
                        margin-bottom: 20px;
    
                    }
                    .txt{
                        justify-content: center;
                        padding:10px;
                        
                    }
                    p{
                        font-size: 1.3rem;
                    }
                    a{
                        font-size: 1.3rem;
                    }
    
                    form{
                        margin: 0 auto;
                        .formgroup{
                            text-align: center;

                        }
    
                    }
    
                    .input input{
                        font-size: 1rem;
                    }
    
                    button{
                        margin:25px;
                    }
    
                    
                }
            }
            
        
            .right{
                display: none;

            }
        



    }


        
    }
}

// Reset.blade

.container{
    display: flex;
    border: 2px solid cornsilk;
    margin-top: 50px;
    width: 895px;
    height: 500px;
    align-items: center;
    justify-content:space-evenly;
  .left{
    h1{
        color: cornsilk;
        font-size: 24px;
 
    }
    .form-group{
        color: cornsilk;
        margin: 15px;
        label{
         margin-bottom: 15px;
        }
        input{
            width: 20vw;
        }
 
        .btn{
         background-color:#343660;
         border: 0;
        }
        .btn:hover{
         background-color:cornsilk;
         color: #273252;
        }
        .text-danger{
            margin-top: 10px;
            color: #dee2e6 !important;
        }
 
    }
    a{
        color: cornsilk;
        text-decoration: none;
    }
    a:hover{
         color:#343660;

    }
  }
   
   
}

